<!--<ion-view view-title="Boat Weight">
  <ion-content>-->
    

    <div class="card">
      
      <div class="item item-divider item-royal">
        <h2 style="color:white">Fuel For Your Boat</h2>
      </div>
      
      <div class="item item-text-wrap">
       <div class="row">
        <div class="col">
          <img src="img/BoatFuel.png" class="images-right-50"></img> 
          
          <span class="subtitle">Don't forget the Fuel!</span>
           <b>{{firstName}} Power</b> runs on Time and Energy, but your <b>ENGINE</b> runs on Fuel.<br><br>
           
           So you have to buy some fuel.  This step is easy, just decide how much you are willing in invest in your Engines each month below.  This will be used later on to help you pick the right resources to build your system.
           
       
           
   
        </div>
      </div>
      </div>
        
      <div class="item item-divider item-royal">
        <h2 style="color:white">Determine How Much Fuel You Want to Get</h2>
      </div>   
      
      <div class="item item-text-wrap">
        

        Online surveys show that most people are willing to spend up to $400.00 per month to build their income from home.  But everybody's budget is different.<br><br>
        <span class="subtitle">Enter Your Fuel Budget For Each Month: </span>
        
        <div class="list">
          
          <div class="row">
            <input class="col col-50 input-label" value="Fuel Budget">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="400.00" type="number">
          </div>
        </div>
        

        
<div class="row">
  <div class="col col-80">
    <button class="button button-block button-balanced" >SAVE FUEL BUDGET</button>
  </div>
</div>

      
      <div class="item item-divider item-royal">
        <h2 style="color:white">Fuel Discussion</h2>
      </div>
      
        <div class="item item-text-wrap">
          Fuel discussion here.
        </div>
    
      </div>
    
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.boat.charts">Next: Let's Summarize Your Boat</button>
    </div>
    
  <!--<ion-content>
</ion-view>-->