
<!-- +++++++++++++++++++ Zubair Comment 11th March, 2015 +++++++++++++++++++++++

I have just added height:300px to the ion-view tag in each of the page of boats. Reason is that we had to increase the height of the view so that
it will have some space to get loaded, by default it takes 130px height so that's why it was a small section of view.


-->


<ion-view view-title="Boat Introduction" >
  <ion-content class="infinite-scroll"> 
    
    <div class="card">
      
      <div class="item item-divider item-balanced">
        <h2 style="color:white">Boat Introduction</h2>
      </div>
      
      <div class="item item-text-wrap">
        
         <div class="row">
            <div class="col">
              <img src="img/BoatIntro.png" class="images-right-50"></img>  
               Before you start out on your journey, you need to first build your Boat.  Your Boat will be used to help you track your progress and you progress through the app and apply the lessons you've learned to increase your own passive income.<br><br>
               
               It's just a funny way to do your own personal financially planning.  After your Boat is built, you should know exactly where you stand.<br><br>
               
               Then your Mentors can jump in and help you build your <b>ENGINES</b>.<br><br>
               
               You will use your <b>COMPASS</b> to guide you through your goals.<br><br>
               
               <span class="subtitle">It will be a fun journey, we promise...</span>
            </div>
          </div>
      
          
  
      </div>
    
    </div>
      
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.boat.paddles">Start Building My Boat!</button>
    </div>

  
  </ion-content>
  
</ion-view> 
