<ion-view view-title="Your Boat Paddles">
  <ion-content>
    

    <div class="card">
      
      <div class="item item-divider item-assertive">
        <h2 style="color:white">Your Paddles</h2>
      </div>
      
      <div class="item item-text-wrap">
        
    
    <div class="row">
      <div class="col">
        The first step in Building Your Boat is figuring out how you are powering it.
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        You can either power it with your own mucles (by Rowing Your Boat) or you can use an Engine.
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        The majority of us have to Actively Row Our Boats (actively go to work to earn a living), but the wealthy know how to use Engines (they have a system to generate money for them) so they don't have to actively go to work. 
        
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        In this calculator, enter your amounts you make per month from your jobs or profession.  This total is your Boats' Paddle Power. 
      </div>
    </div>
    
          
    
       
      </div>
        
      <div class="item item-divider item-assertive">
        <h2>Your Boat's Paddle Power</h2>
      </div>   
      
      <div class="item item-text-wrap">
        <div class="padding">
          
          <!--
          <div style="border:1px solid blue; padding:10px">
            Calculators Here
          </div>
          -->
          
        
        <!-- +++++++++++++++++++++++++++ Zubair Comment 18th March, 2015 +++++++++++++++++++++++++++++++
        
        Below we can see that simply a ng-repeat is used for making the list of lines of jobs and it can be incremented as soon as user hits the
        add line button and addJobsList() function is called which we have seend in boatController.js
        
        Note:
        Please see that ng-model is taking the data and I have used jobList.jobsLabel and jobList.jobsNumber so we won't be wrong if we say that 
        it is the pleasure of using Angular that it automatically makes a new object and saves the data by indexes. We just have to write ng-repeat
        and all the magic is done by Angular itself. Now on each add Line button click, the data of the previous line is saved on index 0 and than new
        data on index 1 waits for the new data. So we don't really had to write a long code for that.
        
        
        
        
        -->
            
            
             <div class="list">
            <div ng-repeat="jobList in jobs track by $index">
              
              <label class="item item-input">
              <input type="text" placeholder="Job {{$index+1}}" id="jobLabel" ng-model="jobList.jobsLabel">
              <input type="number" placeholder="0.00" min="0" id="jobnumber"  ng-model="jobList.jobsNumber">
              <button class="button button-assertive">X</button>
             </label>
              
              
            </div>
            </div>
            
            
            <label class="item item-input">
              <span class="input-label">Add Another Item</span>

              <button class="button button-balanced" ng-click="addJobsList()">Add Line</button>
            </label>
            
            
            
            
        
            
            <label class="item item-input">
              <span class="input-label"><b>Total Active Incomes</b></span>
              <input type="number" readonly ng-model="allJobsTotal">
            </label>
            
          </div>
        </div>
      
      
      <div class="item item-divider item-assertive">
        <h2>Paddles Summary</h2>
      </div>
      
            <div class="item item-text-wrap">
        <p>
        Your Boat's Paddle Power is the Active Incomes in your Life.  For most of us, this is the only force powering our Boats.  Although it may work, it is no Engine, and depends totally on us.  </p>
      

      
      </div>
    
    </div>
    
    <div class="padding">
      <button type="submit"  ng-click="jobsTotal()" class="button button-balanced icon-right ion-chevron-right button-Next">Save and Go To The Next Step</button>
    </div>
   
        
  <ion-content>
</ion-view>



