<!--<ion-view view-title="Boat Weight">
  <ion-content>-->
    

    <div class="card">
      
      <div class="item item-divider item-royal">
        <h2 style="color:white">Your Boat Charts</h2>
      </div>
      
      <div class="item item-text-wrap">
       <div class="row">
        <div class="col">
          
           <span class="subtitle">OKay, Let's Take A Look at the Boat You've Built So Far...</span><br><br>
           
           <span class="subtitle">This is your Paddle Power:</span><br>Plot the Total Jobs Number Over Time<br><br>
           
           <span class="subtitle">This is your Engine Power:</span><br>Plot the Total Residual Income Over Time<br><br>
           
           <span class="subtitle">This is your Total Power:</span><br>Plot the (Total Residual Income + Paddle Power) Over Time<br><br>
           
           <span class="subtitle">Is your Boat Floating Sinking?</span><br>Plot the (Total Power - Total Expenses)  Over Time<br><br>
           
           
           
           Engines give additional power in the background, earning you monthly residual incomes so that you won't have to work quite as hard to stay afloat.<br><br>
           
           In fact, if built correctly, the Engines' Power will continue to grow and overtake your own power so one day you will no longer need to Row Your Own Boat and have more time to enjoy your Life.  Well, that's the idea.<br><br>
           
           An Engine is anything that genearates a monthly residual income for you.  Below is a list of your typical Residual Income Sources, enter any you may have.
        </div>
      </div>
      </div>
        
      <div class="item item-divider item-royal">
        <h2 style="color:white">Engines Estimator</h2>
      </div>   
      
      <div class="item item-text-wrap">
        
        <span class="subtitle">First, let's take a look at the traditional Methods that can generate Residual Incomes for you: </span>
        
        <div class="list">
          
          <div class="row">
            <input class="col col-50 input-label" value="Landlording">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Royalty Incomes">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Portfolio Dividends">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Child/Spouse Support Received">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Lottery Winning Dispersements">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Social Security">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Unemployment">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Legal Settlements">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Interest Earnings">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Inheritance Dispersements">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
        </div>
        
        <div class="row">
            <input class="col col-50 input-label" value="Other Residual Income #1">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Other Residual Income #2">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
        </div>
        
<div class="row">
  <div class="col col-50">
    <button class="button button-block button-balanced" >Add Another Expense</button>
  </div>
</div>
          
          You're lucky if you have 1 or 2 of anything above.  If you do, enter it, as it will help you in the steps ahead.  But if you're like most of us, you probably don't have any residual incomes from the above sources.<br><br>
          
          Don't Worry if you don't have any residual incomes at this time.  That's what this App is going to help you generate, so read on! In the ENGINES section, your Mentors will be helping you build your own Residual Income Engines.  Once you activate each of the engines, they will be listed Here, so you can record and update your residual incomes to track your Boat's progress.
          
          <span class="subtitle">Your Residual Incomes from the ENGINES pages:</span> Each time you receive your commissions, update your monthly earnings here so your Boat can help keep track of your progress.
          
          
          
        <div class="list">
          <div class="row">
            <input class="col col-50 input-label" value="Pending #1">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Pending #2">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Pending #3">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
        </div>


            <hr>
          
        <div class="list">
          <div class="row">
            <input class="col col-50 input-label" value="TOTAL RESIDUAL INCOMES" style="color:green;font-weight:bold">
            <input class="col col-30" style="font-weight:bold; font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <div class="col col-10"></div>
          </div>
        </div
        
<div class="row">
  <div class="col col-50">
    <button class="button button-block button-balanced" >UPDATE All</button>
  </div>
</div>

      
      <div class="item item-divider item-royal">
        <h2 style="color:white">Your Engines Summary</h2>
      </div>
      
            <div class="item item-text-wrap">
        <p>
        Engines Red Message and Green Message here.</p>
      </div>
    
    </div>
    

    
  <!--<ion-content>
</ion-view>-->