
<!-- +++++++++++++++++++ Zubair Comment 11th March, 2015 +++++++++++++++++++++++

I have just added height:300px to the ion-view tag in each of the page of boats. Reason is that we had to increase the height of the view so that
it will have some space to get loaded, by default it takes 130px height so that's why it was a small section of view.


-->


<ion-view view-title="Boat Introduction" style="height:300px">
  <ion-content> 
    
    <div class="card">
      
      <div class="item item-divider item-assertive">
        <h2 style="color:white">Boat Introduction</h2>
      </div>
      
      <div class="item item-text-wrap">
        <p>Before you start out on your journey, you need to first build your boat.  Once built, your boat will be used to help you see where you are, and your boat's compass will help guide you towards your goals. </p>
        <p></p>
        <p>More details to come... </p>
      </div>
    
    </div>
      
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.boat.2">Go To The Next Step</button>
    </div>

    
  </ion-content>
  
</ion-view> 
