<ion-view view-title="Build Your Boat:">
  <ion-content> 
    

<div class="intro">
  <h3>You Will Need a Boat for Your Journey.</h3>
</div>
   
   <ion-scroll direction="x" class="wide-as-needed bold">
  
    <div>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.intro">Boat</a>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.paddles">Paddles</a>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.weight">Weight</a>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.engines">Engines</a>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.enginesWeight">Engine Wt</a>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.fuel">Fuel</a>
      <a class="button button-balanced button-Min100" ui-sref="members.boat.charts">Charts</a>
    </div>
  </ion-scroll>
    
    <div></div>
  
    <ion-nav-view name="boatview" class="scroll"> 

        </ion-nav-view>
    

    
    
    <!-- ++++++++++++++++++++++++++++++ Zubair Comment 10th March,2015 +++++++++++++++++++++++++++++++++
    
    All the boat pages and routing you have done were totally correct. I just provided height css property in the
    ion-nav-view where pages are loading. And 500% is basically the maximum height of any mobile screen. So
    our template will now have quite much space to be get loaded.
    
    
    -->
    
    
    </div>
    
  </ion-content>
</ion-view> 