<!--<ion-view view-title="Your Boat Paddles">
  <ion-content>-->
    <input ng-model="firstName" type="hidden" ng-value="firstName" >
    

    <div class="card">
      
      <div class="item item-divider item-balanced">
        <h2 style="color:white">Your Paddles</h2>
      </div>
      
      <div class="item item-text-wrap">
        
    
    <div class="row">
      <div class="col">
        <img src="img/BoatManualPower.png" class="images-right-50"></img> 
        The easiest way to power your boat is by using the Paddles and rowing it yourself.  So in essence You provide the Boat with <b>{{firstName}} Power</b>.<br><br>
        So {{firstName}}, you are <b>Rowing Your Boat</b> if you have a job or profession with an <span style="color:green">ACTIVE INCOME</span>.<br><br>
        In this section, enter all your jobs and estimate how much you earn per month for each to calculate your Paddle Power.
      </div>
    </div>
  </div>
        
      <div class="item item-divider item-balanced">
        <h2 style="color:white">{{firstName}}'s Boat Paddle Power</h2>
      </div>   
      
      <div class="item item-text-wrap">
        <div class="padding">
          
          <!--
          <div style="border:1px solid blue; padding:10px">
            Calculators Here
          </div>
          -->
          
        
        <!-- +++++++++++++++++++++++++++ Zubair Comment 18th March, 2015 +++++++++++++++++++++++++++++++
        
        Below we can see that simply a ng-repeat is used for making the list of lines of jobs and it can be incremented as soon as user hits the
        add line button and addJobsList() function is called which we have seend in boatController.js
        
        Note:
        Please see that ng-model is taking the data and I have used jobList.jobsLabel and jobList.jobsNumber so we won't be wrong if we say that 
        it is the pleasure of using Angular that it automatically makes a new object and saves the data by indexes. We just have to write ng-repeat
        and all the magic is done by Angular itself. Now on each add Line button click, the data of the previous line is saved on index 0 and than new
        data on index 1 waits for the new data. So we don't really had to write a long code for that.
        
        
        
        
        -->
            
            <!-- Danh I cannot get these styling for these fields to be shown from the css file so I left it here, although not the best thing to do -->
            
            <!-- ++++++++++++++ Zubair Comment 10th May, 2015 +++++++++++++++++
            
            Your css is correct but it's not a good practice to use inline-css, its more good to use css classes properly. I have converted your inline
            css into class jobsClass and it is called on <div> tag below. Secondly please see style.css and check how I have made this class "jobsClass".
            
            Tip:
            
            There are some methods to use css classes. Few are:
            1) >
                This greater than sign ">" is use if we want to call a class on a child of any tag. Here jobsClass is in parent div and 
                jobsClass > input means that class will be called at first input tag.
                
            2) ~
                This tilda sign "~" is used if we want to call a class on sibling or we can say adjacent one. Here I have called jobsClass as 
                jobsClass > input ~ input, this means that second input will have this class.
            -->
            
             <div class="list">
            <div ng-repeat="jobList in jobs track by $index">
              
              <div class="row jobsClass">
              
              <input class="col col-50" type="text" placeholder="Job {{$index+1}}" id="jobLabel" ng-model="jobList.jobsLabel">
  
        <span class="col col-10">$</span>
        
              <input class="col" type="number" placeholder="0.00" id="jobnumber" ng-model="jobList.jobsNumber"
              ng-blur="addTotalJobs()">
              
      
               <div class="col col-10">
                  <i style="font-size:22px;" class="ion-trash-a" ng-click="deleteJob(jobList)"></i>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <label class="item item-input">
                  <button class="button button-full button-balanced" ng-click="addJobsList()">Add Another Job</button>
                </label>
              </div>
             
            </div>
            
            <hr>
            
            <div class="row jobsTotal">
              
              <div class="col col-33">Jobs Total</div>
  
              
              <input class="col" type="text" readonly ng-model="allJobsTotal">
              
              
           
             
              
              
              </div>
            
            </div>
            
            <!--
            <div class="row">
              <div class="col">
                <span class="input-label" style="font-size:20px"><b>Total</b></span>
                
                
                <label class="item item-input">
                  <span class="input-label" style="font-size:20px"><b>Total</b></span>
                </label> 
              </div>
              
              <div class="col col-25">
                <label class="item item-input">
                  <input type="number" readonly ng-model="allJobsTotal" style="font-size:20px; text-align:center">
                </label>     
              </div>
              
               <div class="col col-10">
              </div>             
            </div>  -->



            
            <div class="row">
           
                <!--<label class="item item-input">
                  <button class="button button-block button-balanced" ng-click="addJobsList()">Add Job</button>
                </label> -->
             
              
              <div class="col">
                <label class="item item-input">
                  <button class="button button-full button-balanced" ng-click="jobsTotal()">Save All Jobs</button>
                </label>     
              </div>
            </div>

          </div>
        </div>
      
      
      <div class="item item-divider item-balanced">
        <h2 style="color:white">{{firstName}}'s Paddle Power Summary</h2>
      </div>
      
            <div class="item item-text-wrap">
        
        <div class="row">
          <div class="column">
            
            <img src="img/boat-paddling.png" class="images-right-50"></img> 
            
            Your <b>Paddle Power</b> is the <b>Active Income</b> in your Life.<br><br>
            
            <span class="red-bold">Your Current Active Income = {{allJobsTotal|currency}}</span><br><br>
            
            For most of us, this is the only force powering our Boat.  While it gets the job done, we have to realize that whether your boat moves or not depends totally on US.  That is our TIME, our ENERGY, and our BODY.<br><br>
            
            And if you try to become rich using only Active Incomes, you're severely limited because:
            <ul>
              <li>You only have 24 hours in a day</li>
              <li>You only have so much energy</li>
              <li>Your body can only work so hard</li>
            </ul><br>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <img src="img/knockedDown.jpg" class="images-left-50"></img> 
            <span class="subtitle" style="text-align:center">"Our body is <b>NOT SCALABLE</b> to do more and more work, so we will reach some limit."</span><br><br>
            
            Then <b>ONE DAY</b>we will get <b>TOO TIRED</b>, then turn around and wonder where did all those years go!! That's because <span class="red-bold">ACTIVE INCOMES continually suck up all your TIME and ENERGY!</span><br><br>
            
            And it gets worse!  Every day, there are a slew of other things that Life is throwing at you to SLOW YOU DOWN!. We'll take a look at that next.
          </div>
        </div>
       

      
      
      </div>
    
    </div>
    
    <div class="padding">
      <button type="submit"  ng-click="goToState('members.boat.weight')" class="button button-balanced icon-right ion-chevron-right button-Next">Next: See What's Slowing You Down</button>
    </div>
   
        
<!--  <ion-content>
</ion-view>-->



