<!--<ion-view view-title="Boat Weight">
  <ion-content>-->
    

    <div class="card">
      
      <div class="item item-divider item-royal">
        <h2 style="color:white">{{firstName}}'s Engines</h2>
      </div>
      
      <div class="item item-text-wrap">
       <div class="row">
        <div class="col">
          <img src="img/BoatEnginePower.png" class="images-right-50"></img> 
           In addition to <b>You Rowing Your Boat</b>, you can also set up some <b>ENGINES</b> to power your boat.<br><br>
           
           <SPAN CLASS="green-bold">Engines</SPAN> give additional power in the background, earning you monthly residual incomes so that you won't have to work quite as hard to stay afloat.<br><br>
           
           In fact, if built correctly, the <SPAN CLASS="green-bold">Engines' Power</SPAN> will continue to grow and overtake your own power so one day you will no longer need to Row Your Own Boat and have more time to enjoy your Life.  Well, that's the idea.<br><br>
           
           An <SPAN CLASS="green-bold">Engine</SPAN> is anything that genearates a monthly residual income for you.  Below is a list of our typical residual income sources, enter any you may have, as we will use it to estimate how far along you are later.
        </div>
      </div>
      </div>
        
      <div class="item item-divider item-royal">
        <h2 style="color:white">Engines Estimator</h2>
      </div>   
      
      <div class="item item-text-wrap">
        
        First, let's take a look at the traditional methods that can generate <b>Residual Incomes</b> for you. <br><br>
        
        <span class="subtitle">Traditional Residual Incomes You Might Have: </span><br>
        
        <div class="list">
          
          <div class="row">
            <input class="col col-60 input-label" value="Rents Collected">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Royalty Incomes">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Portfolio Dividends">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Child Support Received">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Spouse Support Received">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Lottery Dispersements">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Social Security">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Disability Income">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Unemployment">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Legal Settlements">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Interest Earnings">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Inheritance ">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
        
          <div class="row">
            <input class="col col-60 input-label" value="IRA or 40l(k)">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
        </div>
        
        <div class="row">
            <input class="col col-60 input-label" value="Other #1">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-60 input-label" value="Other #2">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
        </div>
        
<div class="row">
  <div class="col col-80">
    <button class="button button-block button-balanced" >Add Another Residual Income</button>
  </div>
</div>
          <div class="row">
            <div class="col">
               You're lucky if you have 1 or 2 of anything above.  If you do, enter it, as it will help you in the steps ahead.  But if you're like most of us, you probably don't have any residual incomes yet.<br><br>
          
          <span class="subtitle">"Don't Worry if you don't have any residual incomes at this time.  That's what this App is going to help you with."</span><br><br>
          
           In the <b>ENGINES</b> section, your <b>Mentors</b> will be helping you build your own Residual Income Engines.  Once you activate each of the engines, they will be listed Here, so you can record and update your residual incomes to track your Boat's progress.<br><br>
          
          <b>Your Residual Incomes from this APP:</b> (update often)
            </div>
            
          </div>

          
        <div class="list">
          <div class="row">
            <input class="col col-50 input-label" value="Pending #1">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Pending #2">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
          <div class="row">
            <input class="col col-50 input-label" value="Pending #3">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red">X</button>
          </div>
          
        </div>


            <hr>
          
        <div class="list">
          <div class="row">
            <input class="col col-50 input-label" value="TOTAL RESIDUAL INCOMES" style="color:green;font-weight:bold">
            <input class="col col-30" style="font-weight:bold; font-size: 16px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number">
            <div class="col col-10"></div>
          </div>
        </div
        
<div class="row">
  <div class="col col-50">
    <button class="button button-block button-balanced" >UPDATE AND SAVE ALL</button>
  </div>
</div>

      
      <div class="item item-divider item-royal">
        <h2 style="color:white">{{fistName}}'s Engines Summary</h2>
      </div>
      
            <div class="item item-text-wrap">
        
        <span class="green-bold">Enter your total Passive Income here.</span><br><br>
        
        If this is still <span class"red-bold">"zero"</span>, then we have some work to do my friend!  Keep moving forward with your steps to find out how to fix this!<br><br>
        
        Your <B>COMPASS</B> will use this number later to help you steer your <b>BOAT</b> correctly.
      </div>
    
    </div>
    
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.boat.engineWeight">Next: Can You Handle Your Engine?</button>
    </div>
    
  <!--<ion-content>
</ion-view>-->