<!--<ion-view view-title="Boat Weight">
  <ion-content>-->
    

    <div class="card">
      
      <div class="item item-divider item-royal">
        <h2 style="color:white">Your Boat's Weight</h2>
      </div>
      
      <div class="item item-text-wrap">
       <div class="row">
        <div class="col">
          <img src="img/BoatWeight.png" class="images-right-50"></img> 
           As you <b>ROW YOUR BOAT</b>, you will have to pull along the entire <span class="red-bold">Weight of Your Boat</SPAN>.  So of course the more weight you are carrying, the more it will slow you down.
          </div>
        </div>
             
        <div class="row">
          <div class="col">
  
             The <B>Weight of your Boat</B> is the total monthly expenses you have to shoulder:
             <ul>
               <li>Your dependents (family)</li>
               <li>The rent/mortgage</li>
               <li>Utilities</li>
               <li>Food</li>
               <li>the Dog</li>
               <li>etcetera...</li>
               
             </ul><br>
             
             These are the things keeping you from getting ahead by constantly being a drain on your income each month.<br><br>
             
             Go ahead and estimate your monthly expenses here, as it will give you a target to tackle up ahead!
          </div>
        </div>
      </div>
        
      <div class="item item-divider item-royal">
        <h2 style="color:white">{{firstName}}'s Boat Weight </h2>
      </div>   
      
      <div class="item item-text-wrap">
        <div class="list" ng-repeat="weights in expensesList track by $index">
          
          <div class="row">
            <input class="col col-50 calc-label" ng-model="weights.expensesLabel">
            <input class="col col-30" style="font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="number" ng-model="weights.expensesNumber"
              ng-blur="allExpensesTotal()">
              
            <button class="col col-10" style="color:white; font-weight:bold; background-color:red" ng-click="deleteJob(weights)">X</button>
          </div>
          
        </div>
        </div>

          
<div class="row">
  <div class="col col-50">
    <button class="button button-block button-balanced" ng-click="addExpenseList()">Add Another Expense</button>
  </div>
</div>
        

          
            
            <hr>
          
        <div class="list">
          <div class="row">
            <input class="col col-50 calc-label" value="TOTAL EXPENSES" style="color:red;font-weight:bold">
            <input class="col col-30" style="font-weight:bold; font-size: 20px; background-color:lightcyan; padding:0 5px; text-align:right; border:1px solid gray"  placeholder="0.00" type="text" ng-model="expensesTotal">
            <div class="col col-10"></div>
          </div>
        </div
        
<div class="row">
  <div class="col col-50">
    <button class="button button-block button-balanced" ng-click="weightsTotal()">Save All</button>
  </div>
</div>

      
      <div class="item item-divider item-royal">
        <h2 style="color:white">{{firstName}}'s Boat Weight Summary</h2>
      </div>
      
      <div class="item item-text-wrap">
        
        <div class="row">
        <div class="col">
          <img src="img/bills.png" class="images-right-50"></img> 
           Your <span class="red-bold">Boat Weight</span> is your total monthly expenses.<br><br>
         
        
            <span class="red-bold">Your Current Monthly Expense = {{totalExpenses|currency}}</span><br><br>
      
         </div>
        </div>
        
        <div class="row">
          <div class="col">
            This number will be used in your <b>COMPASS</b> later to help you steer your <b>BOAT</b> in the right direction.
      
         </div>
        </div>
        
      </div>
    
    </div>
    
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.boat.engines">Next: Let's Build Your Engine!  </button>
    </div>
    
  <!--<ion-content>
</ion-view>-->