<ion-view view-title="Your Engine">
  <ion-content>
   
    <div class="card">
      <div class="item item-divider item-energized">
        <h2>Your Current Engine</h2>
      </div>
        
      <div class="item item-text-wrap">
        <p> These are the passive income streams you have activated in your engine so far.  If you have no streams yet, go to the next page to pick one to activate.</p>
      </div>
        
    </div>
    
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.engines.upgrade">Go Here To Upgrade Your Engine</button>
    </div>
    
  </ion-content>
</ion-view>