<ion-view view-title="Looking Ahead">
  <ion-content>
   
    <div class="card">
      <div class="item item-divider item-energized">
        <h2>Here are the Engine Upgrades Coming Up Ahead</h2>
      </div>
        
      <div class="item item-text-wrap">
        <p> Your mentors are also exploring new income streams for you.  Check out what is available, let us know what you are interested in joining soon.</p>
      </div>
      
      <div class="item item-text-wrap">
        <p> Slide swipe of the future engine cards here.</p>
      </div>
        
    </div>
    
  </ion-content>
</ion-view>