<ion-view view-title="Upgrade Your Engine">
  <ion-content>
   
    <div class="card">
      <div class="item item-divider item-energized">
        <h2>Upgrade Your Engine Power By Adding More Passive Income Streams To It</h2>
      </div>
        
      <div class="item item-text-wrap">
        <p> Turn your engine into a mutiple passive income stream machine.  Below are the passive income streams your Mentor has tested out for you.  Pick one that you like, then ACTIVATE it and it will be moved to YOUR ENGINE's list and your friends then can see it in their upgrade page so they can follow you.</p>
      </div>
      
      <div class="item item-text-wrap">
        <p> Slide swipe of the engine cards here.</p>
      </div>
        
    </div>
    
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.engines.future">Go Here To See Upcoming Upgrades</button>
    </div>
    
  </ion-content>
</ion-view>