<ion-view view-title="Intro to Your Engine">
  <ion-content>
   
    <div class="card">
      <div class="item item-divider item-energized">
        <h2>What's An Engine?</h2>
      </div>
        
      <div class="item item-text-wrap">
        <p>Engines are passive income systems that, once implemented, can start earning  monthly incomes for you.  Hopefully you can learn to steer these engines until they replace your income, so you can retire yourself from the jobs you hate and just do what you really love to do in life.</p>
      </div>
        

    </div>
    
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right button-Next" ui-sref="members.engines.yourengine">Go Here to See Your Current Engine</button>
    </div>
    
  </ion-content>
</ion-view>