<ion-view title="Inbox">
    <ion-nav-buttons side="right">
      <i ui-sref="members.membersRoom" style="font-size:30px; margin-right:10px" class="ion-plus-round"></i>
    </ion-nav-buttons>
     
    <ion-content>
        
        
        
     <ion-list>
         
  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="members in appMembers" type="item-text-wrap">
        
        <img ng-src="{{members.RoomIcon}}">

        <h2>{{members.RoomName}}</h2>
        <p>{{members.ChatMessages[members.ChatMessages.length-1].message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      
      </ion-item>
     
    </ion-list>
        
        
        
        
        
    </ion-content>
    
    
    
</ion-view>