
 
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Welcome!</h2>
    </div>
    
    
    <!--   +++++++++++++++++++++++++++ Zubair Comment 3rd April, 2015 ++++++++++++++++++++++++++++++
    
    Below is the code which you have written, well all the work you have done was perfectly right but you just made the small spelling mistakes. You can
    see the 'revert file' settings in cloud9 where you can see the video of how and what changes I have made. You called the ng-model with a separate 
    name whereas you made the $scope variable in the controller with the different name. This has caused the problem.
    
    
    -->
    
       
    <div class="item item-text-wrap white-box">
      <input ng-model="userName" type="hidden" ng-value="userName" >
      <input ng-model="firstName" type="hidden" ng-value="firstName" >
      <input ng-model="mentorName" type="hidden" ng-value="mentorName" >
      <div class="row">
        <div class="col"><img src="img/welcome.png" class="images-right-50"></img>
          Hi <b>{{firstName}}!</b><br><br> 
          
          Welcome to RESIDUALS.  Let's first get you settled in with a quick tour.<br><br>
          
          You were invited by <b>{{mentorName}}</b>, but you also have 3 other mentors who can also help you should you get stuck.<br><br>
          This app was designed to help you use your mobile phone to build up passive income streams. Just follow these <b>Stepping Stones</b> guide and you will be guided through everything.</div></div>
      <div class="row">
        <div class="col">
          <img src="img/welcome-point.png" class="images-left-50"></img> 
          Across the top, you should see all Steps.  There are more when you scroll to the right.  Click NEXT after you finish each Step and the next one will be unlocked.  Each Step will reveal a lesson that will reveal the system to you.
        </div>
      </div>
    
    
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Your First Lesson:</h2>
    </div>
        
    <div class="item item-text-wrap">
      <div class="row">
        <div class="col">
          Use these <b>Stepping Stones</b> to learn how the app works.  Click the <b>NEXT</b> button at the end of each lesson to move further into the app.
        </div>
      </div>
    </div>
  </div>
  

        
    <div class="padding" style="height:100px">
<button class="button button-balanced" ng-click="unlockNextPage('stepsAbout')" style="float:right">Next: See What This APP Is ABOUT</button> 
     </div>
     
     

    <!--  ++++++++++++++++++++++++++++++++ Zubair Comment 7th April, 2015 +++++++++++++++++++++++++++++++++++
    
    Here above I have used ng-class and used a scope variable which I have made in stepsController, please see. Initially property is set to button-dark,
    but on ng-click I have set the buttonClass value to button-balanced which than binds the value to the class and hence button will become
    green. It is a sign that page is unlocked. Further we will maintain this with database properly.
    
                                            Zubair Comment 18th April, 2015
                                            
     I have done a addition here by calling a function unlockNextPage() with a parameter stepsAbout, basically I am trying to use a single API
     for the update to make our code more robust.
    
    
    -->
 
  <!-- removed disclaimer2, goal is to make disclaimer1 on steppingstones page be visible on all steps pages
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
  
 
