<ion-view view-title="PortFOOLio">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: PortFOOLio</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          Let's first recap our traps so far:<br><br>

          <b>Shocker #1:</b>  Get a job with a few weeks vacation per year and you've dedicated 90% of the weeks in your life to your job.  Your boss owns you.<br><br>
          
          <b>Shocker #2:</b>  You're supposed to work hard now but delay gratification and not enjoy the money you earn because you will need it when you're old.  The banker gets to enjoy your money now while you wait.

        </div>
      </div>
    
      <div class="row">
        <div class="col">
            <img src="img/mouseTraps.jpg" class="images-left-50"></img> 
            <b>And Now For the 3rd Shocker</b><br><br>

            So they've convinced you to donate 90% of your year to working hard but don't enjoy your money because you need to save a whole lot of it for your older years.  And where do they want you to put your money?<br><br>
            
            As my financial advisor pointed out to me,  "Don't worry!,  there are lots of ways to do it. We can tailor it to fit your own personal style!"<br><br>
            
            With that, he proceeded to show me all the different baskets of portfolios I can use to build up my retirement account.  I can choose to be as safe as earning a few percent a year (basically to break even with inflation) or to being aggressive but also taking on more risk.<br><br>
            
            As I scanned through, I can see that no matter which basket I chose, the portfolio income was based on the stock market.  Well, there were the lower yielding bonds but the bonds market also goes up and down.  All I was doing was choosing how volatile I want it to be.<br><br>
            
            But if there was another huge stock market crash, I would be totally exposed to losses.  Being this was around 2008, and I've already lost my confidence in the stock market, I didn't like the sound of that at all.<br><br> 
            
            I asked him if there were any other options. Can we invest in anything not based on the stock market?  Well, sure.  I can go with the lower yields of a few percent growth a year but he states I am still young and he wouldn't recommend it because if there was a big crash and I did lose a large portion of my retirement money, <b>I would still be young and have enough time left to work harder to build it back up!</b><br><br>
            
            <div classs="div-rounded">
            <b>Hold on, let me get this straight....If the products he recommended me failed....it would be ME who has to work harder and longer to correct it?</b></div><br>
            
            I've heard enough..... I remember thinking this is not the smart way to retire but I can't believe this is what our certified professionals were recommending!  I had a retirement portfolio from my previous biotech job and residency training days but I took the money out to build my clinic.  That was a lucky move because that was right before the stock market crashed in 2008 and my portfolio could have lost up to 40% of its value!<br><br>
            
            It just didn't make sense to me to throw all my earnings back into that basket and expect it to work out this time.  In just my short working life, how many stock market crashes have I seen?<br><br>
            <ul>
            <li>Dotcom Crash of 2001</li>
            <li>Real Estate Bubble Crash of 2008</li>
            </ul>
            
          </div>
        </div>
      
        <div class="row">
          <div class="col">
            <img src="img/marketCrash.jpg" class="images-left-50"></img> 
            That's not including the <b>Flash Crash of 2010</b> where my portfolios where stopped out at a loss and failed to go back in as it recovered.<br><br>
            
            And remember, you didn't have to be investing directly in the internet boom or real estate to lose money from those crashes. Your retirement account can still be dragged down either because:<br><br>
            
            <ul>
              <li>the domino effect that dragged every sector down not just the troubled sector</li>
              <li></li>your banker has "diversified" your basket to include these investments.</li>
            </ul><br><br>
            
            I don't know about you but 2 huge crashes in less than a decade are too much risk for me to count my retirement on.  I'm not playing that game either!<br><br>
            
            
            <b>Hold On...I Have One More Shocker For You Before I Share An Alternative Plan to All This!</b>
        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson Learned: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> Most retirement accounts rely on the stock market for gains....and LOSSES; and yet the market suffered 2 great losses in less than 10 years. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsHealth')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
  </ion-content>
</ion-view>