<ion-view view-title="Delay">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Delay Gratification?</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          The second shocker came as I sat down with my financial advisor for the first time.  By now I have graduated from medical school and was building my clinic with a few partners.  I was finally making better money so I decided I should learn the ropes from someone with more experience about money matters.

          First, we went over my numbers.  At this time, my parents have aged but have not saved anything for their retirement.  It just wasn't something that was done in our culture and they didn't know they had to adapt I guess.  I didn't want them to lose their home so I took over their mortgage as well as a host of their basic necessity bills.

          On top of that, I had my own mortgage, car loans, some very large student loans, business loans and personal loans that helped me through those rough years in medical school.  Health and disability insurance was a must as well as a large medical malpractice insurance.  



          </div>
        </div>
      
        <div class="row">
          <div class="col">
          <img src="img/bills.png" class="images-left-50"></img> 
          <span class="subtitle">The list of obligations was already long....</span><br><br>

          Next, he suggested that I add even more items to the list.  Life insurance is a must for any responsible person as well as a few items in preparation for getting married and the expected kids since I'm expected to finally have a normal life.<br><br>  

          Finally, we started discusssing my retirement.  Great!  This is what I came here for, I thought.<br><br>  

          We started talking about what lifestyle I would want when I retired. From there, we calculated how much I would need to save up. Then we broke it down to how much per month should go into this portfolio which would be higher because I "failed" to start early while I was too busy trying to survive those "poor student days" that lasted 30 years of my life until I got that medical degree.



          </div>
        </div>
      
        <div class="row">
          <div class="col">
          <img src="img/jawDropped.png" class="images-left-50"></img> 
          <span class="subtitle">When he showed me the numbers my jaw just dropped!</span><br><br>  

          Here I was sitting at the top 5% income level, working 60 hours a week, and if I follow "the plan" and save up for the retirement I wanted. I would basically have to put whatever income I have left back into my retirement plan; and live paycheck to paycheck until age 65.<br><br>  

          And mind you, I was not living an extravagant lifestyle because I never had the money to develop any style during those starving student days!  I still depend on my Toyota. I don't have an upscale "doctor's home," and I've never developed a taste for jewelry or brand names.  I only spent what was necessary to take care of my loved ones.<br><br>  

          But this living paycheck to paycheck until age 65 deal is pretty scary to me!  I mean, what if I get sick?  What if there was an accident?  What if my dependents get sick?  What if my businesses failed?  What if there was a unexpected natural disaster?  The answer was pretty  clear.  I would lose my home because there is no buffer to absorb such a loss.  <br>



          </div>
        </div>
      
        <div class="row">
          <div class="col">
          <img src="img/foreclosure.png" class="images-left-50"></img> 
          <span class="subtitle">And that is exactly what happened to so many of us when the stock market crashed in 2008!</span><br><br>  

          I think you can guess that I am not happy with this option.  I didn't come all this way to live paycheck to paycheck and not get to enjoy my money until my back hurt and my feet can no longer hike the mountains!<br><br>  

          But so many of us are on this same track, correct?   We've all bought into this delayed gratification game where we work so hard but cannot enjoy the money now because we need it when we're older.<br><br>  

          <span class="subtitle">How much do we need in our portfolio in order to retire?</span><br><br>  The answer is different for everyone because it depends on how you want to retire, how long you will live in retirement, how old you were when you got started, how aggressive you want to invest and what the stock market is doing or not doing.<br><br>       

          You can use any number of retirement calculators to figure this out for yourself but to give you an idea, here is an article on Forbes.com that estimates roughly $2.8 million is needed for a happy retirement in the USA. (<a href="http://www.forbes.com/sites/mitchelltuchman/2012/12/12/how-much-is-enough-to-retire-careful-now/" target="new">Forbes.com</a>)<br><br>  

          I don't know about you but most of my patients and employees can delay gratification all they want and they will never get to the point of having that much money to retire on.
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> They want you to work hard now but don't enjoy that money because you will need it when you're old. So who gets to enjoy your money now? The banks do. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsPortfoolio')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
  </ion-content>
</ion-view>