<!--<ion-view view-title="Origins">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Origins For Change</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          Paragraph 1
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Paragraph 2
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Paragraph 3
          
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Paragraph 4
        </div>
      </div>
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson Learned:</h2>
    </div>
        
    <div class="item item-text-wrap">
       <p>Need an Origins Lesson.
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced icon-right ion-chevron-right" style="float:right" ui-sref="members.steps.why">Go To The Next Step</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
  <!--</ion-content>
</ion-view>-->