<!--<ion-view view-title="Plan B">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Proposed Plan B</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>So To Summarize Just How Messed Up Things Are</b><br><br>

            If you don't plan to be different you will be guided into the same path that everybody else takes in life.

 
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <img src="img/youngWorkers.jpg" class="images-center"></img> 
            <b>Here's What You Can Expect</b>
            <ol>
              <li>1. Spend some time and money to get an education to qualify for a good job. You start out with a JOB; a way to convert your time and energy into spendible MONEY. </li>
              
              <li>2. A typical job will gives you a few weeks of vacation a year so essentially you're giving up control of 90% of your weeks each year.</li>
              
              <li>3. You work hard but you can't enjoy all your money because you need to invest to have the estimated $1.2 million by the time you're 65 to have an "adequate" retirement account.</li>
              
              <li>4. All the while the money you saved in your retirement account rides on the stock market that crashed 2 times in less than 10 years.</li>
              
              <li>5. And if you miraculously achieved this goal by age 65, you may be starting to deal with health issues that can hamper the retirement you have saved all your life for.</li>
            </ol>
            
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <img src="img/oldCoupleHug.jpg" class="images-center"></img> 
             <b>This Is Your Plan A In Life</b><br><br>
            
            This is supposed to happen to your work life by default because the system is set to take it's course if you don't do anything differently to change it.<br><br>
            
            Having no plan in life means you are planning on following this course.  If that's okay with you then do nothing and follow the masses.<br><br>
            
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <img src="img/followMasses.jpg" class="images-center"></img> 
            <b>"Success does not come by following the crowd... Watch the crowd. Go in the opposite direction." - Robert G Allen </b><br><br>
            
            Those who don't set their own goals to be different can follow the herd wherever the politicians and economy lead them.<br><br>
            
            If you want more out of Life, however, you must have a different plan for yourself.  If you don't already have your own plan, then I have a proposal for you to consider.<br><br>
            
            It is the <b>Alterative Plan</b> I have for myself, and through this App you can simply duplicate my plan to make it your own plan without spending the ten years of trial and errors that I spent.
            
            </div>
        </div>
      
        <div class="row">
          <div class="col">
          <img src="img/PlanB.jpg" class="images-left-50"></img> 
            
            We should all have a <b>Plan B</b>.  No, not the birth control method...... But we should have a Financial Plan B to get to retirement in case Plan A doesn't pan out well.<br><br>  
            
            With this Plan B you can still leave your Plan A intact.  Then you will shift your focus a little bit.  You will have a different target, use a different set of calculators and set up an alternative course.<br><br>
            
            You can now start on your Mission if you have already unlocked your Boat.  Once you have built your Boat, use your COMPASS to chart your own future. These tools show you how to grab a hold of your personal finances and give you goals to aim for.  They are FREE for you to use in this App.<br><br>
            
            You are now playing in a totally different playing field.  Instead of getting that second or third job to earn more money, you will learn how to be your own boss and generate your own "quiet incomes."<br><br>
            
            <b>What are "quiet incomes?"... Find Out Next</b>
        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson:  Do You Have A Plan B? </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> If your current retirement plan seems unrealistic to you, consider using alternative plans for getting yourself there. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsActive')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
 <!-- </ion-content>
</ion-view>-->