<!--<ion-view view-title="Health">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Your Health</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>Say You Make It There, Then What?</b><br><br>
          
          <b>Shocker #1:</b>  Get a job with a few weeks vacation per year and you've dedicated 90% of the weeks in your life to your job.  Your boss owns you.<br><br>
          
          <b>hocker #2:</b>  You're supposed to work hard now, but delay gratification and not enjoy the money you earn because you will need it when you're old.  The banker gets to enjoy your money now while you wait.<br><br>
          
          <b>hocker #3:</b>  You're supposed to put all that money away into a retirement account but many of us did not know that those accounts ride on the stock market that crashed 2 times in less than 10 years.  One crash was enough to bring people out of retirement or forced workers to delay retirement.  How many crashes can your money endure?<br><br>
          
          There's more.  If the last 3 shockers were not enough to make you dissatisfied with the way things are and you decide to go along with the game and follow all the rules they have set out for you.... <br><br>
          
          <b>What happens next?</b><br><br>
          
          <div class="div-rounded">
            Let's say that despite of all the obstacles we discussed, you did quite well for yourself and were able to save up a large sum in your retirement account and you're now ready to retire at the ripe age of 65!  It's time to enjoy the good life right?
          </div><br>
          
          I am fortunate to have the opportunity in my career to learn this perspective from the folks who have been there and done that.<br><br>
          
          As I was stitching up a nice gentleman the other day after he fell over and sustained a gash in his leg, we had time to chat a bit.  He used to design some of the equipments for digging the oil wells in California and was able to build up a nice retirement for himself and his wife.  I asked him if he was enjoying his retirement and this was his answer.<br><br>
          
            </div>
          </div>
    
        <div class="row">
          <div class="col">
          <img src="img/seniorFallen.jpg" class="images-left-50"></img> 
          "Once you get there you will see.  You think you can do anything but then your body starts to fail you.  But I still have my mind at least."<br><br>
          
           
          
          <b>And here's a quote from my father:</b><br><br>
          
          "You say you'll take me to see the Great Wall but by then I won't be able to walk anywhere so what's the point?"<br><br>
          
           
          
          <b>Here are what other patients have told me:</b><br><br>
          
          "Travel when you can, you have to find the time to fit it into your life.  Later on, it's not convenient to bring your wheelchair with you."<br><br>
          
          "Yes, I can go on vacation with the grand kids.  They just drop me off somewhere nearby while they go have their fun."<br><br>
          
          "If I knew it'd come to this, I'd had more fun when I had more testosterone."<br><br>
          
          "I think I spent too many years at that job.  My joints constantly remind me so."<br><br>
          
          What if we play the game of Delayed Gratification they want us to play and we end up like one of these folks?
          
             </div>
        </div>
    
        <div class="row">
          <div class="col">
          <img src="img/burstBubble.jpg" class="images-left-50"></img> 
          <b>How's that for bursting your bubble?</b><br><br>  
          
          How would it feel if we worked hard all our young lives to save for our older years but when we're older we can't do the things we saved up to do?<br><br> 
          
          You know, it's hard but it's the reality we have to face.  I've seen many patients in my medical career and it just breaks my heart to see someone working so hard to make ends meet, never making it to the point of enjoying their lives.... and then I have to look them in the eyes to give them the diagnosis of a terminal illness.<br><br>   
          
          <div class="div-rounded">
          It is heartbreaking to see it but it's a real part of life.  Here are some statistics we are facing:<br><br>  
          
          <ul>
            <li>13% of people over 65 have Alzheimer Dementia (<a href="http://www.alz.org/downloads/facts_figures_2012.pdf" target="new">Alzheimer's Association</a>)</li>
            <li>35.3% of people over 65 have a disability (<a href="http://www.cdc.gov/ncbddd/documents/Disability%20tip%20sheet%20_PHPa_1.pdf" target="new">Center for Disease Control 2009)</a></li>
            <li>28% of people with Congestive Heart Failure are under the age of 60 (<a href="http://www.emoryhealthcare.org/heart-failure/learn-about-heart-failure/statistics.html" target="new">Emory Healthcare</a>)</li>
           </ul>
           </div><br>
          
          And if you don't have a serious condition,  what are the chances of you having a non serious condition that would affect your quality of life after age 65?<br><br>
          
          <div class="div-rounded">
          <b>According to statistics from the <a href="http://www.cdc.gov/nchs/data/series/sr_10/sr10_256.pdf" target="new">CDC for 2011:</a></b><br>
            <ul>
              <li>Hearing problems: 30.2%</li>
              <li>Vision problems: 12.2 %</li>
              <li>No more teeth: 18.6%</li>
            </ul>
          </div><br>
          
          So you see, if you're willing to play their game all the way to age 65, thinking you're ready to finally have time to enjoy your life, what if your body fails you?  Did you play Delayed Gratification for 65 years just to have enough money to spend treating your diseases?<br><br>
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson Learned About Your Health:</h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> You're supposed to work hard and save up so that you can have a nice retirement at age 65, but if life throws you a surprise with your health, that retirement may not be as rosy as planned. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsPlanB')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
<!--  </ion-content>
</ion-view>-->