<!--<ion-view view-title="Owned">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Owned</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          I admit I was shell-shocked when I graduated from college and entered the "real world."  You see, since we came here as immigrants, my parents couldn't get a good job because they didn't speak English.  Although we didn't know it then, this was a blessing in disguise because it forced them into owning their own businesses.<br><br>

          So we grew up helping our parents build their own restaurants.  My parents worked hard but they were always free to do whatever they wanted and this influenced my point of view later on as I entered the work life.<br><br>  

          I was the fortunate one to get to go to college while my older brothers stayed back to help with the restaurants.  Upon graduation, I was the first in the family to get a college degree and started working in a Biotech company.  Wow! Imagine that!  It was the kind of work that was unheard of for us.<br><br>

          The shock came when my family decided to take a trip from San Francisco to Los Angeles for a week to visit some old friends and I wanted to come along.  I told my supervisor about the trip and the answer was "No, you can't go."

          </div>
        </div>
      
        <div class="row">
          <div class="col">
          <img src="img/slapped.jpg" class="images-left-50"></img> 
          <b>Call me naive!</b><br><br>

          But that was the slap in my face!  Remember, our family has always been able to do whatever we wanted... and here I am, the most highly educated in the family, and I have lost that ability!<br><br>

          I couldn't understand it when I came home that day to tell my family I can't join them.  Now that I am in the corporate world, I realized that my hands are bound.  As a new employee, I had 2 weeks of vacation a year.  That means I have lost control of 50 out of 52 weeks in a year or they owned me 96% of the time.


          </div>
        </div>
      
        <div class="row">
          <div class="col">
          <img src="img/surprisedGuy.jpg" class="images-left-50"></img> 
          <b>Is this for real?</b><br><br>

          Is this how all Americans lived? Do they all just accept it as LIFE?  It was hard for me to accept and I didn't accept it.  It just didn't make any sense for me to give someone else that much control over my life!<br><br>  

          I lasted about 2 years before I jumped ship and went to medical school thinking it would give me more autonomy than a corporate job.
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson Learned: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p>In the <b>"We Own You"</b> game, your typical boss owns 90% of the weeks in your life each year. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsDelay')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
<!-- 
  </ion-content>
</ion-view>-->