<ion-view view-title="Your Boat">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Building Your Boat</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/Boat-Intro.png" class="images-right-50"></img>
          To prepare yourself for your Journey into this new world, you must first build your <b>Boat</b>.<br><br> 
          <span class="subtitle">"Why Do I Need A Boat?"</span><br><br>
          Your <b>Boat</b> will act as your own "little bookkeeper".  It will track your own progress throughout the App and make managing your Life a bit more fun.<br><br>
          How well you BUILD your <b>Boat</b> will determine whether your boat sinks or floats.<br><br>
          How well you UPGRADE your <b>Boat</b> will determine how fast you achieve your milestones.
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          We all start out with a <b>Row Boat</b> that we have to power with our own body and sweat, rowing the paddles.  Somewhere along the way, the Rich and Wealthy figured out that they must purchase Engines to power their boats, so they move forward faster.<br><br>
          Unfortunately, the rest of us failed to realize this and stuck to paddling our Row Boat until we're OLD.<br><br>
          The lessons ahead are designed to show you how you must also learn to use Engines to power your Boat if you want financial independence.<br><br>
          When you are ready, your Mentors will help you. In the end, we all want to be cruising along Life in our <b>Yachts</b>. But that's getting ahead of ourselves.  
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          The first thing you need to do is to Unlock your <b>Boat</b> below.  Then you can access it from the Main Menu to start building your Boat.
          
        </div>
      </div>
    

        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: Use your Boat to help you determine your starting point and help track your progress through the app.</h2>
    </div>
        
    <div class="item item-text-wrap">
       Run your life as if you are running a business and you must be profitable each and every month!  Your Boat will help you manage that.  Then it will take you to new places.  Unlock your Boat here:
     <ul class="list">
      <li class="item item-toggle">
        <b>Unlock My Boat!</b> 
         <label class="toggle toggle-balanced">
           <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
      </li>
    </ul>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsTime')">Go To The Next Step #4</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
  </ion-content>
</ion-view>