<ion-view view-title="Residuals">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Residuals</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>Introducing Your Income Boosters</b><br><br>

          We will now go over a few important concepts that you will learn to apply to your working life.  We call these your <b>Income Boosters</b>, which are powerful enough by themselves...but when used together, they complement each other and will increase your chance of retiring early.<br><br>
          
          Your first Income Booster requires that you start playing the ballgame in a totally different field.<br><br>
          
          Remember, 95% of us are Worker Bees because use our sweat, energy, and time to go to work to make our money with <b>Active Incomes</b>.<br><br>  
          
          On the other playing field are the <b>Passive Income</b> earners, who employ systems to do most of their work for them.  They don't have to use their muscle and sweat to earn money, but they do have to manage the systems.<br><br>
          
          The difference is it is the systems that generate income for them.  Minimal time is required for this, so this frees up their time and does not drain their energy by the end of the day.<br><br> 
          
          
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <img src="img/network.png" class="images-left-50"></img> 
          This App is such a system because it will train everybody in your group automatically and efficiently.  And as everybody use the App to build their passive incomes, they will help you build your passive incomes as well.<br><br>
          
          Instead of you using your sweat and muscles, this system will be working for you, running in our servers with satellite branches in everyone's computers and smartphones... all the while helping you generate your income.<br><br>
          
          But that's not all.  This App is just the beginning. As you dive deeper into the system, there will be more automated systems for you to use to boost your income more and more.<br><br>
          
          <b>Welcome to the Other Side!</b><br><br>
          
          You now have access to a simple but very powerful way to generate passive incomes... a task that 95% of Worker Bees will never achieve in their entire working life!<br><br>
          
          <b>Now Go On To The Next Step To Learn of Your Second Income Booster!</b>
        </div>
      </div>
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> You must learn to generate your own residual income streams.  Use this App to do is systematically and let it automate a lot of the process for you. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" style="float:right" ng-click="unlockNextPage('stepsRepeat')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
  </ion-content>
</ion-view>