<ion-view view-title="Retire">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Retire</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>Here's An Alternative View of Your Retirement</b><br><br>

          Now that you are clear on the differences between an Active income and a Passive income... you are familiar with one of the Income Power-Ups that you can use to super-boost your earning power and potentially turn your life around!  More on this soon!
          
           
          </div>
      </div>
      
      <div class="row">
        <div class="col">
          <img src="img/proposal.jpg" class="images-left-50"></img> 
          <b>Now, I Have a Proposal to Make</b>
          
          Hold on... it's not that kind of proposal.<br><br>
          
          But I propose that we approach how we live and work in a totally different way.  It's a new direction I have taken for myself and I am developing the tools for you to use to follow my path should you choose.<br><br>
          
          <b>Keep this in mind: I didn't invent this way of life.</b><br><br>
          
          Far from it.  It has always existed but I have watched it from afar in the lifestyles of the people who passed through my life.  I noticed how they did things differently, which allowed them to enjoy their lives more than the average person.<br><br>
          
          Most of us never saw life from this angle so we never had the chance to reap the benefits.  The changes I propose are subtle changes in your thinking and habits that can bring drastic changes to your personal and financial life if you carried out the plan.<br><br>
          
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <img src="img/oneHour.jpg" class="images-left-50"></img> 
          
          <b>Here's the main change I propose we should make:<br><br>
          
          "Instead of spending your entire working life trying to build up that one huge retirement portfolio to enjoy later,  I propose that you Spend 1 Hour A Day Building Quiet Income Streams," that can immediately impact your quality of life.</b><br><br>
          
          If you have no idea how to do this, this App will show you how.  I've spent 10 years trying everything I can to build passive incomes and this is the best I can come up with for you.  Follow my lead and I'll save you a lot of trial and error.<br><br>
          
           
          <div class="div-rounded">
            <b>Question:</b>  "Why should I worry about building passive incomes now?"<br><br>
            
            <b>Answer:</b> "Because passive incomes are what retirements are made of!"  
          </div><br>
          
          Think about it.  You work all your life with an <B>ACTIVE</B> income but when you retire, your money is now coming in without you having to go to work....hence you earn through <B>PASSIVE</B> incomes when you retire.<br><br>
          
          So why are we all waiting until we're 65 years old to enjoy passive incomes?  Mainly because of 2 reasons:<br><br>
          
          <OL>
            <LI>Nobody told us about passive incomes, and/or</LI>
            <LI>Nobody taught us how to create passive incomes.</LI>
           </OL><br>
          
          <B>And....Here's How You Can Retire Yourself From Your Job Earlier Than 65!</B><br><br>
          
          <DIV CLASS="div-rounded">
            <b>Example:</b>  If you really don't like your job but you do it anyways because you need that $3,000/month to pay all your bills.</B><br><br>
            
            Does it make sense that if you can earn $3,000/month through passive incomes then you can effectively <b>RETIRE YOURSELF FROM YOUR JOB</b> and still be able to keep your same standard of living?</B><br><br>  
            
            <b>Only now you have an extra 40 hours a week to yourself!</b>
          </DIV>
          
          
           </div>
      </div>
    
      <div class="row">
        <div class="col">
          <img src="img/hardOfHearing.jpg" class="images-left-50"></img> 
          <b>"Wait a Minute!  Did I Hear That Right?"</b><br><br>
          
          Yes, you did!  I have just revealed a plan for you, or anyone, no  matter where you're from, what you do, or how old you are... You can RETIRE YOURSELF from the jobs you hate by replacing that income with <b>passive incomes.</b><br><br>
          
          Now if you love your job, that's different.  But imagine if you can still help people with your profession without worrying about money.<br><br>  
          
          I would love to practice medicine without having to slam that bill in your face afterwards.  Many times I can see your satisfaction as we healed your wounds, then I can feel your pain at the cashier on your way out.<br><br>
          
          My dream as a kid was to be a doctor for those who couldn't afford it but of course every time I shared this with anyone besides Mom, they'd laugh at me and tell me to be realistic.<br><br>
          
          <div class="div-rounded">
          This App is my plan so I can achieve that Dream.  But it can also be your plan to RETIRE YOURSELF from doing what you hate so you can devote more of your time to doing whatever it is you love:<br><br>
          
            <ul>
              <li>Spend more time with those you love,</li>
              <li>Pick up that hobby you never had time for</li>
              <li>Build that project that's been in your head</li>
              <li>Take a trip to the place you dreamed of</li>
              <li>Have more time to help those in need. </li>
            </ul>
            </div>
          <br>
          
          If this sounds good to you then take me up on my proposal and come along for a ride!  In the next few pages I am going to introduce some powerful concepts that you can use as real-life <b>Income Boosters</b>  that can supercharge your earning potential.<br><br>
          
          In effect, these ideas will <b>Upgrade Your Life</b> from being an Active Income Worker Bee into a Passive Income Expert!<br><br>
          
          As you progress further here, you will have a chance to unlock tools that will allow your Mentors to show how to implement these Income Boosters to your own life!<br><br>
          
          <b>Are You Ready?</b>

        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> If you can replace your current income with a Passive income, you can EFFECTIVE retire yourself from your job while keeping the same standard of living. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" style="float:right" ng-click="unlockNextPage('stepsResiduals')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
  </ion-content>
</ion-view>