<ion-view view-title="Wrong">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Wrong</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          I've designed this system because I think there is something seriously <b>WRONG</b> with the way things are.  Too many people I know are working hard but will always be behind.<br><br>  

        <img src="img/Workers.jpg" class="images-left-50"></img> 
        My patients, my employees, my family members, as well as my close friends are living paycheck to paycheck with the high likelyhood of staying that way until they're 65.<br><br>

        <span class="subtitle">Once they get to 65...</span><br><br>
        
        They'll be in the same boat as our retired folks living on a small fixed income.  They'll be like the sweet little old lady that visited me when she's sick and I don't have the heart to charge her the normal little fees for additional testing.<br><br>  

        Her memory is starting to fail her but she has no problem reminding me "I'm on a fixed income, you know."<br><br>

        Her retirement checks are enough to keep her alive but there is no room in there for traveling and she would love to have more in case the grandkids have a birthday or wedding to celebrate.<br><br>


        <img src="img/oldAsianWoman.png" class="images-left-50"></img> 
        This was the retirement life she has bought after working hard as a seamstress all those years until she started having trouble seeing the thread and decided to call it quits.  Hardly seems fair to me but she took it with a smile and just reminded me each time, "I'm on a fixed income, you know."<br><br>

        She wasn't shy to share with me the sources of her income.  A check from social security, a retirement account, that took a couple of hard hits and is now dwindling too fast, and some gifts from family members.  Then she had the help of Medicare when she visited me which is so vital to her.  Otherwise the visits would bankrupt her.<br><br>

        Don't look now but are those the same sources of income you're depending on?  If so, there's even more trouble for you because while Social Security are sending out checks now, we're not too sure about the future.  We keep hearing that Social Security is in trouble but as of 2015, we have yet to hear how it is going to be fixed.<br><br>

        You see, she's a victim of the traps our society has set up for us.<br><br>

 

         <span class="subtitle">What traps?</span><br><br>  

        <b>You'll see in the next few steps...</b>
        </div>
      </div>
    
     
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p>If you just follow the system that's designed for everybody, you will likely become the retiree the system spits out, living on a small fixed income and dependent on the government. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" style="float:right" ng-click="unlockNextPage('stepsOwned');scrollTop()">Go To The Next Step</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
  </ion-content>
</ion-view>