<!--<ion-view view-title="Repeat">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Repeat</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>Next, Add the Power of Repeated Pay</b><br><br>

          Your second Income Booster is earning with Repeated Pay.  This is such a powerful financial concept, and yet many people do not even know that it exists.  It took me about 3 years doing internet marketing before I discovered how powerful this was.<br><br>  
          
          But once I understood this, I thought it was crazy to make a living in any other way.  I think you'll agree.<br>
          
           
          <div class="div-rounded">
            <b>At Your Job</b><br><br>
            
              When you go to work, at whatever job or profession, how do you normally get paid?  Most people earn income from:<br><br>
              <ol>
                <li>getting paid by the hour (as in minimum wage)</li>
                <li>getting paid by the month (as in a flat salary)</li>
                <li>getting paid per job well done (as in sales commissions)</li>
              </ol>
           </div>
          
          With this model, you go to work, do the work the best you can, collect the money, then repeat this process on a daily, weekly, monthly, yearly basis to continuously get paid.<br><br>
          
           
          
          <b>Would it be crazy if your boss to tells you this:</b><br><br>
          
          "Thanks for making that great widget for me yesterday, Danh.  I sold it and made some money, but let me pay you one more time for making that widget in the first place.  Better yet, I'll pay you for it again tomorrow, and you won't even have to make me another one!"<br><br>
          
           
          
          <b>Would it be crazier if your client tells you this:</b><br><br>
          
          "Thanks for taking care of that problem I had.  Things are good now, and I have no more problems for you to fix, but I will pay you again for fixing that problem the first time."<br><br>
          
          Yes! It would be crazy, because that would never happen!  Not in the <B>ACTIVE INCOME</B> world we live in.  Once you spent that time and energy to do that job and got paid.  That's it!  We all move on to work on the next task to get paid some more.<br><br>
          
          However, if you pick the right system in the <B>PASSIVE INCOME</B> world, you can be paid over and over again for a task you did only once.  And this is the key that is missing in most of our lives.

          </div>
      </div>
    
      <div class="row">
        <div class="col">
          <img src="img/pullLeg.jpg" class="images-left-50"></img> 
          <B>"Stop Pulling My Leg! Those Types of Incomes Don't Exist!"</B><BR><BR>
            
          Would you want me to tell you that you're right.... they don't exist, and let you go back to your job and be content with what you have?  Or would you risk being wrong this time and ask me to prove to you that these incomes exist?<BR><BR>  
          
          I know there are many of us would just slam the door on the person telling us something different than what we believe and we won't even investigate it further.  Over the years, we slowly build a wall around us that will prevent us from changing.<BR><BR>
          
          But these kinds of incomes do exist, and they have existed all this time.  We just didn't know where to look to see them.<br><br>
          
          <div class="div-rounded">
            <b>Here are some real world examples of passive incomes that pay you repeatedly for doing something once:</b><BR><BR>
              <ol>
                <li><b>Landlording:</b> put the right tenant in the home he loves and he will pay you rent each and every month.</li>
                <li><b>Insurance Brokers:</b> some insurance companies pay you residual commissions for each account you open up for them.</li>
                <li><b>Royalty Income:</b> Publish a great song, and get paid royalty income each time that song is licensed out to be enjoyed for years to come. </li>
                <li><b>Stock Dividends:</b> Invest in the right companies and they may split their profits with you every 3 months automatically.</li>
                <li><b>Franchising:</b>  Invent a method that works well, and sell that know-how to others and earn a percentage of what they earn each month.</li>
              </ol>
          
           </div><br>
          
          <b>"Nice....But Dr. Nguyen, I Can't Do Any of Those Things!"</b><br><br>
          
          If that is what you're thinking, then you are probably right!  What are missing here for most of us are:<br>
          
          <ul>
            <li>the proper know-how's</li>
            <li>the money to invest in these types of ventures</li>
           <li>or both!</li> 
          </ul><br>
          
          And if you're not benefiting from these types of incomes, guess who is?  Take a look at that list again and you'll understand these are the incomes the wealthy, or top 1% invest in!  Do you see why the wealthy are not spending 40 hours a week next to you at work?  They spend much less time working on projects that pay them only once, and spend time learning how to do work that pays them repeatedly!<br><br>
          
          And yes, it is easier said then done, but that's why this Quiet Incomes system was created!<br><br> 
          
          In the Engines section of this App, there is a whole database of WAYS TO GET PAID REPEATEDLY.  Your Mentors will guide you into choosing the right ones for yourself so you can use these as the powerful "ENGINES" that can power your boat so you don't have to Row Your Own Boat much more.<br><br>
          
          Imagine what a difference it would be in your life if you dedicate 8 hours a day to do tasks that will pay you repeatedly, instead of spending 8 hours a day doing tasks that will only pay you once!<br><br>
          
          That's the power of the system you have in your hands right now.  We will extensively employ this "Income Booster #2: Repeated Pay" to generate your Passive Incomes.
          
          
        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> Income Booster #2 - Learn how to get paid repeatedly for your work, instead of getting paid only once. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" style="float:right" ng-click="unlockNextPage('stepsLeverage')">Now Go On to Learn Income Booster #3!</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
<!--  </ion-content>
</ion-view>-->