<!--<ion-view view-title="Origins">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Origins For Change</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/doctor.png" class="images-left-50"></img> 
          <b>Why did this app come about?</b><br><br>  First, a little about myself, then we'll move on to discuss a few concepts that you must understand for this system to work for you.<br><br>
          
          To avoid any misunderstanding, let me tell you that I am neither a money making guru, nor do I have a high degree in marketing or business.  In face, I came from an immigrant family.  We came to the United States in 1980 and started our lives here as a struggling middle class family.<br><br>
          
          Being immigrants who couldn't speak English, my parents were not competitive in the job market so they had to learn how to create their own income by starting and running various businesses.  Growing up in this background gave me a different persspective than most of my friends.<br><br>
          
          I grew up with a different point of view of how we worked in America and this impact became even more profound later in life as I became the first in the family to finish college; then later went on to ge my medical degree.<br><br>
          
         
          <div class="div-rounded">
            
            <b>I've tried out many ways to earn a living during my college, medical school, and residency days.  These include:</b>
              <ul>
                <li>community websites</li>
                <li>selling ebooks online</li>
                <li>referral programs</li>
                <li>network marketing</li>
                <li>family restaurants</li>
                <li>stock trading systems</li>
                <li>currency trading systems</li>
                <li>membership sites</li>
                <li>smartphone apps</li>
                <li>and even a medical clinic</li>
              </ul>
          </div><br>
          
          The good thing about having been through all this is I got to see how each business system had its advantages; but more importantly, I saw all their <span style="color:red"> <b>DISADVANTAGES</b></span>.  I will expand on this later.<br><br>
          
          Although I don't have a business degree, I consult with those who do.  And mostly everything I learned, I learned through my own research, testing, then learning from my mistakes.  After many trial and errors, I learned what NOT to do.  In the end, I came up with this system.<br><br>
          
          <b>If you follow this system, I will show you how to bypass all the WRONG WAY to earning money and skip right to the BEST current way to earn an income.</b><br><br>
          
          You get to learn from all the mistakes I have made without having to spend all the money I spent to discover the lessons.  In the following Steps, I will share with you all the lessons I have learned and show you how to apply those lessons to yourself so that you too can earn passive incomes without having a job.<br><br>
          
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson:</h2>
    </div>
        
    <div class="item item-text-wrap">
       Benefit from my decades of trial and error and let me show you the quickest way to earning passive incomes with today's technology.
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsWhy')">Go To The Next Step</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
  <!--</ion-content>
</ion-view>-->