<!--<ion-view view-title="Your Boat">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Building Your Boat</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/Boat-Intro.png" class="images-right-50"></img>
          To prepare yourself for the Journey ahead, you must first build your <b>Boat</b>.<br><br> How well you build your <b>Boat</b> will determine which path you shall take into the future. Your <b>Boat</b> represents your personal balance sheet, only it's funner to maintain.  How well you balance your books will determine whether your Boat sinks or floats.
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          We all start out with a <b>Row Boat</b> that we power ourselves.  Then when you are ready, your Mentors will help you upgrade your Row Boat with Passive Income Engines to turn them into <b>Power Boats</b>.  In the end, we all want to be cruising along Life in our <b>Yachts</b>. But that's getting ahead of ourselves.  
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          The first thing you need to do is to Unlock your <b>Boat</b> below.  Then you can access it from the Main Menu to start building your Boat.
          
        </div>
      </div>
    

        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: We will be using Your Boat as a worksheet to help you balance your books.</h2>
    </div>
        
    <div class="item item-text-wrap">
       Run your life as if you are running a business and you must be profitable each and every month!  Your Boat will help you manage that.  Then it will take you to new places.  Unlock your Boat here:
     <ul class="list">
      <li class="item item-toggle">
        <b>Unlock My Boat!</b> 
         <label class="toggle toggle-balanced">
           <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
      </li>
    </ul>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced icon-right ion-chevron-right" style="float:right" ui-sref="members.steps.time">Go To The Next Step #4</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
<!-- 
  </ion-content>
</ion-view>-->