<!--<ion-view view-title="Active">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Active Incomes</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>"What are Quiet Incomes?"</b>


            A "quiet income" is a term I coined myself to describe the types of incomes I stumbled upon that consistently and quietly appeared in my bank account month after month without me having to go out there and do physical work for.<br><br>
            
            You may have heard others refer to this as <b>PASSIVE INCOME</b>. Passive incomes are very powerful incomes, and it is what this whole program is all about.<br><br>  
            
            But before you can appreciate passive incomes, it's better to go over what passive incomes are not.  To do this, let's look at our typical incomes.<br><br>
            
        </div>
      </div>
    
      <div class="row">
        <div class="col">
            <img src="img/goingToWork.jpg" class="images-left-50"></img> 
            <b>Our Typical Income From Work</b><br><br>
            
            Most of us earn our living through what we call <b>ACTIVE INCOMES</b>.   When you have to wake up each morning, drive yourself to work and spend 8-12 hours a day doing something to earn a living, you are making money via an active income. That is because you have to ACTIVELY participate with your TIME and ENERGY in order to earn that income.<br><br>
          
            Ninety percent of us earn a living with active incomes because that is how society was built.  We achieve wonderful things at work as every job is focused around building better products to improve our lives or providing much needed services to our friends and neighbors.<br><br>
            
            Nothing can replace this value.  But at the same time, these jobs are both LABOR INTENSIVE and TIME CONSUMING.<br><br> 
            
            When we only earn income from Active Incomes, we are faced with limitations we can't control because:<br><br> 
            
            <ul>
              <li>We only have so much <b>TIME</b> to work!</li>
              <li>We only have so much <b>ENERGY</b> to work!</li>
            </ul>
            
            <div class="div-rounded">
            And if you try to earn lots of money through an <b>ACTIVE INCOME</b>, what will be the end result?
              <ul>
               <li>You Will Run Out of Time to Work  (did you forget your friends, family, or your health?)</li>
               <li>You Will Run Out of Energy to Work  (can you still run around and play with the kids or hike that mountain you've always wanted to?)</li>
              </ul>
            </div><br>
            
            So is it any surprise to see so many of us striving for success with our careers only to end up being <b>TOO TIRED</b> and having <b>NO TIME LEFT</b> to enjoy Life?<br><br>
            
             
            
            <b>That's Where I Was When I Decided to Change</b><br><br>
            
            Somewhere in the middle of life, I found myself doing exactly what I loved...practicing medicine.  However, working 60-80 hours a week and following the steps society have set up for us have left me out of touch with all my old friends.  On top of that, I barely have any time left to spend with my aging parents, my new wife, and the new kids that I finally was supposed to have time for.<br><br>
            
            
            Aside from the joys of practicing medicine, this wasn't how I envisioned my life would be...
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson on Active Incomes </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> ACTIVE INCOMES require you to continuously put in TIME and ENERGY to generate money. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsPassive')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
<!-- 
  </ion-content>
</ion-view>-->