<!--<ion-view view-title="Support">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Support</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          Paragraph 1
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Paragraph 2
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Paragraph 3
          
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Paragraph 4
        </div>
      </div>
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson on Support and Mentorship: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> Instead of re-inventing the wheel, simply find a system that works and some body who knows how to work it and copy what they do.  You will get there faster that way. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" style="float:right" ng-click="unlockNextPage('stepsSeeds');scrollTop()">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
<!-- 
  </ion-content>
</ion-view>-->