<!--<ion-view view-title="Why">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Why</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/workingInjured.png" class="images-right-50"></img> 
          <span class="subtitle">Why Did I Create This App?</span><br><br>
          
          I've created this project because I have seen so many of my patients, my friends, and my family working too hard and juggling multiple jobs only to coming home too tired to have quality time with their family.<br><br>
          
          <b>We work hard, often times pushing our body to its limits because we cannot afford to take time off.</b><br><br>
          
          Sometimes, by the time my patients see me, they already have complications because of delayed treatment.  But we live this way because that's how we were taught.  We were taught to:

            <ul>
              <li>work hard!</li>
              <li>don't be lazy!</li>
              <li>and a good career and be successful!</li>
           </ul><br><br>

          But it is heartbreaking to see so many good people work so hard only to face crisis after crisis; never catching up with their debts .... and never getting around to really enjoying their LIFE.<br><br>

          Are you ready for something different or do you want to continue devoting yourself to that system?  Times are changing quickly and technology is replacing the labor worker more and more each day.<br><br>

          If you stand where you are and not change with the times, will you be the next TYPEWRITER?  Instead of being a victim of the changes, I can show you how to use technology to your advantage and use it to <b>WORK SMARTER NOT HARDER</b>.

         </div>
        </div>
    
      <div class="row">
        <div class="col">
        <img src="img/whyMe.jpg" class="images-left-50"></img> 
        <b>Why Me?</b><br><br>
        
        The real question is "Why not you?"  If things are going to change in <B>YOUR</B> life, the person who needs to make that change is <b>YOU</b>... Not your spouse, not your boss, not your government, and not Wall Street.<br><br>
        
        The moment <b>YOU</b> start pointing that finger at yourself is the moment <b>YOU</b> stop blaming the world for your problems, and the moment <b>YOU</b> start searching for your solutions.<br><br>
        
        When I first wrote the plans for this system, I was only going to share it with my friends and family.  However, I realized that with social networking nowadays this system can expand across the globe to include people whom I would never even dream of meeting.<br><br>
        
        You may be this person and you don't know me but I want you to read this as if I have <b>YOU</b> in mind, not anyone else.  I do not intend to change the corporations, the banks, or the governments.<br><br>  
        
        I just want <b>YOU</b> to know what <b>YOU</b> must do and what <b>YOU</b> must use to change your life around so that <b>YOU</b> can build a nice fat cashflow.<br><br>
        
        Once you have that cashflow, all the "BIG" problems you see now will become little matters to you simply because you can afford to solve the problems that face your family each and every day.  Your life will become more pleasant and much more enjoyable.
        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: Find Your "Why"</h2>
    </div>
        
    <div class="item item-text-wrap">
       <p>Ask yourself <b>"WHY"</b> things need to change in your life.  Find out what is personally important to you that make you want to change the way things are.  Then when you're down and lost, your <b>"Why"</b> will remind you that you must get up and continue on because your mission is yet to be complete and it is up to <b>YOU</b> and only <b>YOU</b> to achieve it.
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsWrong');scrollTop()">Go To The Next Step</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
 <!-- </ion-content>
</ion-view>-->