<!--<ion-view view-title="Leverage">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Leveraged Income</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
         <img src="img/mini-me.jpg" class="images-right-50"></img>
         <span class="subtitle">Next, Learn to Multiplying Your Money with Leveraged Income </span><br><br>

            <b>"What can you do if you want to get more things done?"</b><br><br>
            
            Dr. Evil from Austin Powers got the right idea!  He created his Mini-Me in an attempt to double his Evilness.<br><br>
            
            You can learn the same, only please don't be evil about it!  Let's talk about how you can perfect The Art of the Creation of the Mini-Me and apply it to your income.<br><br>
            
             
            
            <span class="subtitle">My Previous Mini-Me's</span><br><br>
            
            When I was working in Biotech, my supervisor hired a new lab guy.  He brought the guy to me and told me to show him the ropes and  I was happy to do it.  It's nice to be able to show someone what I do.  I also get to have a new friend at the bench.<br><br>
            
            I not only showed him the basics, but I also taught him everything I knew... including the tricks of the trade that I have picked up that made my life easier.  Once I got him up to speed, he was able to do nearly as much work as I did.  Of course I didn't get paid anything extra for training him properly.<br><br>
            
            As a matter of fact, my new friend has now become my competitor in case there is a job opening higher up!  Now tell me how that makes sense.  But that's how things are structured in the corporate world.  No wonder there are so much plotting and back stabbing between colleagues.  Remember, I only stayed 2 years in the corporate world before I knew there must be something better for us.<br><br>
            
            Here's another example that is outside of the corporate world.  My mother picked up a housewife and took her into her restaurant to teach her everything so that she can help my mother run the restaurant when she is not there.  One year later, that worker opens a competing restaurant 4 blocks down the street!<br><br>
            
            I tell you, in the <b>Worker Bee Active Income World</b>, it does not pay to honestly teach people how to do a good job.  It almost always go back and bite you in the butt!<br><br>
            
             
            
            <span class="subtitle">What About Your Job?</span><br><br>
            
            What happened when you last trained someone to do their job?  Did you get paid more for doing that?  Did you person end up leap frogging over you to get the next promotion that you wanted?  It really is a Dog eat Dog world out there.<br><br>
            
             
            
            <span class="subtitle">But Things Are Different Where We Are Going</span><br><br>
            
            There are playing fields where people are actually rewarded for helping you whole heartedly to succeed.  There, you have people who are vested in your success because they will only win if they can help you win first.<br><br> 
            
            And you will only win if you can help others win in return.  This is why it pays you well if you can teach others what you already know.<br><br>  
            </div>
            </div>
            
            <div class="row">
              <div class="col">
               <img src="img/myTeam.jpg" class="images-center"></img><br>
            And once you've taught 10 of your friends a special trick about how to earn money, they will all be working to help you earn more money.<br><br>  
            
             
            
            In effect, you have just created 10 Mini-Me's, and your income is now coming in 10 different ways, instead of just depending on your own sweat and energy.<br><br>
            
             
            
            <div class="div-rounded"><b>"I would rather benefit 1 hour from the efforts of 100 men, working 10 hours each, than have to work the 100 hours myself."<br><br>
            
             
            
            John Paul Getty</b>
            </div><br>
            
             
            
            Once you build an army of your Mini-Me's they'll all be earning money for you as a "Thank you for being my mentor."  This is the Concept of Leveraged Income.<br><br>
            
            </div>
            </div>
            
            <div class="row">
              <div class="col">
               <img src="img/myArmy.jpg" class="images-center"></img><br>
            This is not a tool you can put to your advantage at your typical job or profession.  In fact, not learning how to do this is why 95% of Worker Bees get it wrong, hence they have to continually work hard to earn their money.<br><br>
            
            We will be using this Leveraged Income concept heavily in this system in order to multiply your Income Power beyond what your own brain can do!<br><br>
            
             
            
            <span class="subtitle">What If I Don't Want To Use Leverage?</span><br><br>
            
            The fact is, if you don't apply Leverage to your income, chances are people are applying leverage against you already and you don't even know it!<br><br>
            
            Don't believe me again?  Here are just a few examples of how leverage is already being placed against you in the real world:<br><br>
            
             
            
            You got a car loan and every month, you pay an extra finance charge to the bank.  Are you not your banker's Mini-Me working long hours to pay him his share while he works his half-day "Bankers' Hours"?<br><br>
             
            
            What about your home loan? You're also the banker's Mini-Me here, working long hours for 30 years to pay him his share of your money.  They've got leverage working against you!<br><br>
             
            
            What about your boss?  Is he not paying you to stay there and do whatever it is you do so that he does not have to do it?  In fact, he's got all your coworkers there working for him to leverage his time because he knows he only has 24 hours a day and does not want to spend it doing what you're doing.<br><br>
             
            
            <span class="subtitle">It's Time to Wake Up</span><br><br>
            
            Folks! If we need to get ahead, we need to learn how to use leverage to work for us instead of passively letting leverage work against us!<br><br>
            
            As you advance in this journey, you will learn how to apply leveraged incomes to your earning potential.  That's how we will be able to earn a lot more later on without having to work a lot more hours ourselves.  We will learn how to create a lot of Mini-Me's to help us.<br><br>  
            
             
            
            <span class="subtitle">This is not possible in the Active Income Worker Bee world, but it will be one of our core Concepts that will work for us!  </span>
            
             
            
          
         
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> Change your playing field to where the people you train will become your Mini-Me soldiers instead of becoming your competitors. </p>
    </div>
  </div>
        
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsTechie')">Go To The Next Step</button>
  </div>

    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
<!--  </ion-content>
</ion-view>-->