<!--<ion-view view-title="Mobilize">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Mobilize Your Income</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/boxed.png" class="images-left-50"></img>
          <span class="subtitle">Are You Tired of Being Stuck in a Cubicle or Office All Day?</span><br><br>
          
          Well, so are we!  We want to be able to travel around and see the REAL world and be able to create an income at the same time.  Life is too short to miss out on current events while we are trying to make a living and pay the bills.<br><br>
          
          We created this App so you can do just that!<br><br>  
          
          So get used to the layout of this app and learn everything that it can do, because this has the potential to become your new mobile office as you take it with you on all your trips and parties and learn to use it to build your income on the go.<br><br>
          
          
        </div>
      </div>
    
     
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson:</h2>
    </div>
        
    <div class="item item-text-wrap">
       The world is becoming more and more cordless, it's time you unplug your income potential as well. Become a mobile worker so you can enjoy more of life's experiences outside the Box.
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsOrigins')">Go To The Next Step</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
<!--  </ion-content>
</ion-view>-->