<!--<ion-view view-title="Time">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">"Do I Even Have Time For This?"</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/Multitasking.jpg" class="images-left-50"></img>
          <b>Everyone is SUPER-BUSY these days.</b>  That's why this app is designed for you can go through these steps at your own pace.  You can build your passive incomes from your smart phone a few minutes at a time.  
        </div>
      </div>
          
          
      <div class="row">
        <div class="col">
          <b>You can log in:</b>
          <ul>
            <li>While waiting in line at the post office</li>
            <li>While waiting to see your doctor</li>
            <li>While waiting for a friend to show up</li>
            <li>While waiting for food</li>
            <li>While lounging by the fireplace</li>
            <li>Before you retire to bed...</li>
          </ul>
          <br><b>Now You Can Turn Your Downtime Into Productive Time!</b>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          This a a great habit to form in order to get more done in Life.  In case you haven't noticed yet, <b>TIME is a limited resource</b> (more on this later).  After all, we only have 24 hours in a day and we cannot make or buy any more of it.
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          With this system in your hands, we hop you can feel the ticking clock and realize how we're getting older every second and running out of time to accomplish all the things we need to achieve in our lives.
          
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          Hopefully you won't be wasting any more time on meaningless tasks.  Realize this... no matter who you are or where you are in life, <b>your family is depending on you to MAKE IT</b> so they can enjoy more of their lives with you.
        </div>
      </div>
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: Turn your down time into productive time! </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p>Log into this app whenever you have a few minutes to do a few activities that will boost your passive income machines. Over time, your work here will be compounded into huge changes in your life.
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced icon-right ion-chevron-right" style="float:right" ui-sref="members.steps.mobilize">Go To The Next Step</button>
  </div>
    
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
 
<!--  </ion-content>
</ion-view>-->