<!--<ion-view view-title="Passive">
  <ion-content>-->
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: Passive Incomes</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <b>Now Let's Look at "Quiet Incomes"</b>

          <b>Active Incomes</b> are incomes that we have to go out to actively create, spending our TIME and ENERGY in exchange for money.
          
          <b>Passive incomes</b> on the other hand are systemized incomes that can run on their own with little involvement on your part to maintain.  Hence, they will not drain you of your TIME and ENERGY and yet continue to earn you income.
          
              </div>
          </div>
        
          <div class="row">
            <div class="col"> 
          <img src="img/PassiveIncome.jpg" class="images-left-50"></img> 
          <b>Passive Incomes Are Partially Automated Cashflow Systems</b><br><br>
          
          <ul>
            <li>Passive Incomes are trickier to learn and set up. </li> 
            <li>They are not formally taught in schools.</li>
            <li>We have to go out of our way to learn how to create them.</li> 
          </ul><br>
          
          These extra hassles are the reason why most of us either don't know they exist, or are too lazy to learn more about them.  Hence, most of us don't have any passive incomes.<br><br>  
          
          Passive Incomes also often times  require a lot of money to set up .  So you not only have to learn on your own, but you also have to have the money to set it into motion.  Hence, most of us were never able to have the money to invest into creating passive incomes.<br><br>
          
          But if you find that you're often too tired or too busy to enjoy your life because you're always working... then a "Quiet Income" may be the answer you're looking for.<br><br>  
          
           
          
          <b>What Can We Do For You?</b><br><br>
          
          This Quiet Incomes System was designed for you to get started building your passive incomes using the best modern-day passive income models I have found.  It will show you how to do it step by step and it will not require you to have a large amount of cash to start with like traditional passive income methods.<br><br>
          
          In fact, your largest investment is probably your Smart Phone which you already have.  Only now, your phone expenses may qualify as a tax deduction because it is your main business tool (please consult your accountant on how to appropriately do this).<br><br>
        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: </h2>
    </div>
        
    <div class="item item-text-wrap">
       <p> Quiet Incomes are trickier to set up, but if done properly, your income can grow with minimal time and energy from you to maintain. </p>
    </div>
  </div>
        
  <div class="padding" style="height:100px">
    <button class="button button-balanced" style="float:right" ng-click="unlockNextPage('stepsRetire')">Go To The Next Step</button>
  </div>
    
    <!--
  <div class="padding">
    <p style="text-align:center"><small>Disclaimer2: The viewpoints expressed here are the opinions of Residuals.mobi and do not represent certified financial or investment advise, nor does is guarrantee any success or profit should you follow it.  You are encouraged to seek consultation with a certified professional if you need such services.</small></p>
  </div>
  -->
 
<!--  </ion-content>
</ion-view>-->