<ion-view view-title="About">
  <ion-content class="infinite-scroll">
  
 <div class="padding">
    <div class="item item-divider item-balanced" >          
      <h2 class="text-white">Step: What is This APP All ABOUT?</h2>
    </div>
       
    <div class="item item-text-wrap white-box">
      <div class="row">
        <div class="col">
          <img src="img/steps-about.png" class="images-left-50"></img> 
          <span class="subtitle">Great!  I think you've got the hang of it!<br><br>So what's this <b>APP</b> all about and why should you bother with it?</span><br><br>
          Well, first of all, it is a <b style="color:red">FREE</b> App, and as you dive deeper in it, you will learn about a whole lot of resources that you can use from your smartphone to help you build multiple streams of passive incomes.
          </div></div>
          
       <div class="row">
        <div class="col">      
          <div class="div-rounded">
            <span class="subtitle"> <center>"Why Passive Incomes?"</center><br>
          Because those are the types of incomes that the top 1% Earners build and the rest of us don't know how to get!</span>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
         
          <center>You can think of this APP as:<br><b>"The Guide to Passive Income for the Rest of Us 99%"</b></center><br>
          The concepts you're about to hear are definitely different from what we've been taught by our parents, by our schools, or by our employers.
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <div style="text-align:center">
            <img src="img/different.png" class="images-center"></img> 
          </div>
          <span class="subtitle">Because these ideas are different, you need to keep an open mind to fully understand them.</span><br><br>
          The concepts are meant to be different as we want to be an alternative to what you are doing now in your life.  This is especially important if you think what you're doing is not working out, and you're looking for a different answer to Life and Work.<br><br>
          
        </div>
      </div>
    
      
    </div>
        
       
    <div class="item item-divider item-balanced" >          
     <h2 style="color:white">Lesson: Think Different!</h2>
    </div>
        
    <div class="item item-text-wrap">
       <p>We will be going over some new concepts about how we work and live.  At this point just remember to keep an open mind as you compare this to how you're working now.
    </div>
  </div>
      
    <div class="padding" style="height:100px">
      <button class="button button-balanced" ng-click="unlockNextPage('stepsBoat')" style="float:right">NEXT, You Will Need A Boat For This Journey!</button>
    </div>

  </ion-content>
</ion-view>