<ion-view view-title="My Tree">
  <ion-content style="background:white">
    <!--
    <ion-list class="list-inset">
      <ion-item class="item-avatar" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <img ng-src="{{friend.face}}">
        <h2>{{friend.name}}</h2>
      </ion-item>
    </ion-list>
    -->
    
    <div class="padding" style="min-height:100px">
      
      <div>
        <img src="../img/tree-sample.png" style="width:100%; max-width:500px; text-align:center"></img>
      </div>
      <div style="background-color:white; text-align:center;">
        <span><h2>Coming...</h2></span>
      </div>
      
    </div>
  </ion-content>
</ion-view>
