<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
     <link href="css/loader.css" rel="stylesheet">
     <link href="css/jr-crop.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="js/Modules/ng-cordova.js"></script>
    <script src="lib/jr-crop.js"></script>
    <script type="text/javascript" src="lib/socket.io-1.2.0.js"></script>
    

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <!--Services -->
     <script src="js/Services/services.js"></script>
     <script src="js/Services/appServices.js"></script>
     <script src="js/Services/chatServices.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    
    <!-- Modules -->
    
     <script src="js/Modules/main.js"></script>
     
     <!-- Controllers -->
     
    <script src="js/Controllers/boatController.js"></script>
    <script src="js/Controllers/boatPaddlesController.js"></script>
    <script src="js/Controllers/boatWeightController.js"></script>
    <script src="js/Controllers/chatDetailController.js"></script>
    <script src="js/Controllers/DashController.js"></script>
    <script src="js/Controllers/friendDetailController.js"></script>
    <script src="js/Controllers/friendsController.js"></script>
    <script src="js/Controllers/missionController.js"></script>
    <script src="js/Controllers/registerController.js"></script>
    <script src="js/Controllers/chatsController.js"></script>
    <script src="js/Controllers/loginController.js"></script>
    <script src="js/Controllers/accountController.js"></script>
    <script src="js/Controllers/profileController.js"></script>
    <script src="js/Controllers/stepsController.js"></script>
    <script src="js/Controllers/membersController.js"></script>
    <script src="js/Controllers/supportController.js"></script>
    <script src="js/Controllers/sideBarController.js"></script>
    
   
  </head>
  <body ng-app="starter" >
    
       
        <ion-side-menus>
         
            <ion-side-menu-content>
        
              
             <ion-nav-view name="main"></ion-nav-view>
                
                <!-- ++++++++++++++++++++++++ Zubair Comment 9th March, 2015 ++++++++++++++++++++++++++++++++
                
                ion-nav-view is the place we are offering the side menu to be opened. Every page will be loaded in 
                this ion-nav-view. I have also added views="name" into the members state. Please see app.js
                
                
                -->
                
        
            </ion-side-menu-content>
        
            <ion-side-menu side="right">
                <!--<ion-pane ion-side-menu-content drag-content="false">  did not work to prevent swipe from bringing in sidemenu-->   
                <ion-content ng-controller="sideBarController">
                    <ul class="list">
                        <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                        <a ui-sref="members.profile" class="item item-icon-left" menu-close>
                            <i class="icon ion-person"></i>
                            My Profile</a>
                         
                        <a href="#" class="item item-icon-left" menu-close>
                            <i class="icon ion-cloud"></i>
                            My Dreams</a>
                            
                        <a ui-sref="members.support" class="item item-icon-left" menu-close>
                            <i class="icon ion-alert-circled"></i>
                            Support</a>
                            
                        <a ui-sref="members.feedback" class="item item-icon-left" menu-close>
                            <i class="icon ion-chatbubble-working"></i>
                            Feedback</a>
                            
                        <a ui-sref="members.test" class="item item-icon-left" menu-close>
                            <i class="icon ion-person"></i>
                            Test features</a>
                        
                        <a class="item item-icon-left" menu-close ng-click="resetLockPages()">
                            <i class="icon ion-arrow-return-left"></i>
                            Reset Locked Pages</a>
                        
                        <a class="item item-icon-left" menu-close ng-click="logout()">
                            <i class="icon ion-log-out"></i>
                            Logout</a>
                       
                    </ul>
                </ion-content>
                <!-- </ion-pane>-->
            </ion-side-menu>
        </ion-side-menus>

  </body>
</html>
