/* Empty. Add your own CSS if you like */


@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
    50% {
      -webkit-transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
}
@-o-keyframes pulse {
    0% {
      -o-transform: scale(1) rotate(0deg); 
    }
    50% {
      -o-transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      -o-transform: scale(1) rotate(0deg); 
    }
}
@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1) rotate(0deg); 
    }
    50% {
      -moz-transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      -moz-transform: scale(1) rotate(0deg); 
    }
}
@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
    
}


.fade{
  
    -webkit-animation: pulse 1s ease 0s 3 normal;
    -o-animation:      pulse 1s ease 0s 3 normal;
    -moz-animation:    pulse 1s ease 0s 3 normal;
    animation:         pulse 1s ease 0s 3 normal; 
   
  
     }
     



ion-content {
	background-color: #E2E5FC;
}


h1 {
    font-family: 'Lobster', cursive;
}

.intro{
    text-align:center;
    padding:10px;
    text-decoration:bold;
}

.gridBox{
    padding:5px;
    background-color:white;
    border:1px solid blue;
}

.button-Steps{
    border-radius:5px;
}

.button-Next{
    float:right;
}

.button-Min100{
    min-width:100px;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.validationMsg > p{
    
    color:red;
    font-family:cursive;
    font-size:12px;
    text-align:center;
}

.text-white{
  color:white;
}

.text-black{
  color:black;
}

.images-right-50{
  max-width:300px;
  width:50%;
  margin: 10px;
  float:right;
}


.images-left-50{
  max-width:300px;
  width:50%;
  margin: 10px;
  float:left;
}

.images-center{
  max-width:300px;
  width:70%;
  margin: 10px;
  
}

.white-box{
  background-color:white;
}

.div-rounded{
  border:1px solid black; 
  border-radius:5px; 
  background-color:floralwhite;
  padding:10px;
}

.subtitle{
  font-weight:bold; 
  text-align:center;
  color:brown;
}

.scroll{
  height:200%;
}

ul {
  margin-top:10px;
  list-style-type: disc;
}

li {
  margin-left: 30px;
}

/* Danh - could not get this to show up on calculators*/
.calc-label {
  font-size:20px; 
  background-color:beige;
  padding:0 5px;
}

/* Danh - could not get this to show up on calculators*/
.calc-number {
  font-size:20px; 
  background-color:lightcyan;
  padding:0 5px;
  text-align:right;
  border:1px solid blue;
}

.red-bold{
  color:red;
  font-weight:bold;
}

.green-bold{
  color:green;
  font-weight:bold;
}

.font20 {
  font-size:20px;
}
.jobsClass > input{
  
  font-size:20px; 
  background-color:lightcyan;
  padding:0 5px
  
}
.jobsClass > input ~ input{
  
  font-size:20px; 
  background-color:beige;
  padding:0 5px;
  text-align:right
  
}