/* Empty. Add your own CSS if you like */


@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
    50% {
      -webkit-transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
}
@-o-keyframes pulse {
    0% {
      -o-transform: scale(1) rotate(0deg); 
    }
    50% {
      -o-transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      -o-transform: scale(1) rotate(0deg); 
    }
}
@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1) rotate(0deg); 
    }
    50% {
      -moz-transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      -moz-transform: scale(1) rotate(0deg); 
    }
}
@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      transform: scale(1.8) rotate(0deg); 
      background-color: #FFFF33;
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
    
}


.fade{
  
    -webkit-animation: pulse 1s ease 0s 3 normal;
    -o-animation:      pulse 1s ease 0s 3 normal;
    -moz-animation:    pulse 1s ease 0s 3 normal;
    animation:         pulse 1s ease 0s 3 normal; 
   
  
     }
     


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


ion-content {
	background-color: #E2E5FC;
}


h1 {
    font-family: 'Lobster', cursive;
}

.intro{
    text-align:center;
    padding:10px;
    text-decoration:bold;
}

.gridBox{
    padding:5px;
    background-color:white;
    border:1px solid blue;
}

.button-Steps{
    border-radius:5px;
}

.button-Next{
    float:right;
}

.button-Min100{
    min-width:100px;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.validationMsg > p{
    
    color:red;
    font-family:cursive;
    font-size:12px;
    text-align:center;
}

.text-white{
  color:white;
}

.text-black{
  color:black;
}

.images-right-50{
  max-width:300px;
  width:50%;
  margin: 10px;
  float:right;
}


.images-left-50{
  max-width:300px;
  width:50%;
  margin: 10px;
  float:left;
}

.images-center{
  max-width:300px;
  width:70%;
  margin: 10px;
  
}

.white-box{
  background-color:white;
}

.div-rounded{
  border:1px solid black; 
  border-radius:5px; 
  background-color:floralwhite;
  padding:10px;
}

.subtitle{
  font-weight:bold; 
  text-align:center;
  color:brown;
}

/*.scroll{
  height:200%;
}
*/
ul {
  margin-top:10px;
  list-style-type: disc;
}

li {
  margin-left: 30px;
}

/* Danh - could not get this to show up on calculators*/
.calc-label {
  font-size:20px; 
  background-color:beige;
  padding:0 5px;
}

/* Danh - could not get this to show up on calculators*/
.calc-number {
  font-size:20px; 
  background-color:lightcyan;
  padding:0 5px;
  text-align:right;
  border:1px solid blue;
}

.red-bold{
  color:red;
  font-weight:bold;
}

.green-bold{
  color:green;
  font-weight:bold;
}

.font20 {
  font-size:20px;
}
.jobsClass > input{
  
  font-size:20px; 
  background-color:lightcyan;
  padding:0 5px
  
}
.jobsClass > input ~ input{
  
  font-size:20px; 
  background-color:beige;
  padding:0 5px;
  text-align:right
  
}
.jobsTotal > div{
  
  font-weight:bold; 
  font-size:15px;
  background-color:lightcyan;
  padding:5px;
  
}
.jobsTotal > span {
  font-size:20px;
  font-weight:bold;
}
.jobsTotal > input {
  font-weight:bold; 
  font-size:20px;
  background-color:beige;
  padding: 0px 5px;
  text-align:right;
}


.scroll {
  /*  height: 500%;*/
}
/* tree css  */
.wrap-node {
    overflow: hidden;
    color: #fff;
    background-color: #4FFF5A;
    border: 2px solid #4FFF5A;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.wrap-node {
    /*box-shadow: 7px 7px 5px grey;*/
}

.row-child .realtion {
    font-size: 17px;
    font-weight: bold;
    color: #000;
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.node .arrow-green {
    max-width: 42px;
    margin-top: 5px;
}

.node.submembers {
    margin-left: 50px;
}

.node.upline.top.submembers > .node:first-child, .node.upline.top.submembers > .node:first-child > .sub-node:first-child, .row-child .node.upline, .row-child .node.first .sub-node, .row-child .node.first {
    background: none;
}

.active > .sub-node {
    background: none !important;
}

.row-child .node .sub-node {
    width: 400px;
    padding-left: 42px;
}

.active .node .sub-node {
    background: url("../img/temp.png");
    background-repeat: repeat-y;
    background-position: 23px 0;
}

.row-child .node {
    background: url('../img/temp.png');
    background-repeat: repeat-y;
    background-position: 35px;
}

.row-child .node {
    width: 100% !important;
    padding-right: 50px;
}



.sub-node {
    position: relative;
    padding-top: 7px;
}

.image-text {
    float: left;
    color: #000;
    width: 58%;
    text-decoration: none;
}

.node .member-image {
    border: 1px solid black;
    float: left;
    width: 50px;
    height: 50px;
}

.node img {
    margin-bottom: 0px !important;
}

.node .member-info {
    display: block;
    text-align: center;
    margin: 5px;
}

.sub-node.upline:before, .sub-node.top:before {
    content: url("../img/h-stem.png");
    display: block;
    position: absolute;
    top: 45px;
    z-index: 10;
    left: 22px;
}

.node.upline-member:after {
    content: url('../img/temp.png');
    position: absolute;
    left: 72px;
    bottom: 49px;
}

.node.upline-member {
    position: relative;
}

.active > .submembers .sub-node.upline.top:before {
    content: url("../img/h-stem.png");
    display: block;
    position: absolute;
    top: 48px;
    z-index: 10;
    left: 23px;
}

.node.submembers.active:after {
    content: url('../img/temp.png');
    position: absolute;
    left: 73px;
    bottom: 49px;
}

.node.submembers.active {
    position: relative;
}



.hidden {
    display: none;
}

.subdown-members .wrap-node {
    border: 2px solid #F1EDED !important;
    background: #fff !important;
    /*-webkit-box-shadow: 7px 7px 5px grey;
    -moz-box-shadow: 7px 7px 5px grey;
    box-shadow: 7px 7px 5px grey;*/
    background: #F1EDED !important;
}

.subdown-members > .sub-node .wrap-node {
    border: 2px solid #F1EDED !important;
    background: #fff !important;
    /*-webkit-box-shadow: 7px 7px 5px grey;
    -moz-box-shadow: 7px 7px 5px grey;
    box-shadow: 7px 7px 5px grey;*/
    background: #F1EDED !important;
}


.hide-sub-members .submembers {
    display: none;
}

.first-sub-node:before {
    content: none !important;
}

/*.hide-sub-members .sub-node {
    background: none !important;
}*/

.row-child .node.active {
    background: url('../img/temp.png');
    background-repeat: repeat-y;
    background-position: 23px;
}

.tree > .node.active {
    background: none !important;
}

.node .sub-node {
    /*-webkit-box-shadow: 7px 18px 6px #fff;
    -moz-box-shadow: 7px 18px 6px #fff;
    box-shadow: 7px 18px 6px #fff;*/
}

.my-tree {
    background-color: #D7EFFA;
}

    .my-tree .tree-trunk {
        position: absolute;
        margin-left: -125px;
        margin-bottom: 75px !important;
    }

    .my-tree .scroll {
        height: 120%;
        }

.bar.bar-dark{
  background-color:rgba(0,0,0,0.1) !important;
}

.infinite-scroll {
  bottom:220px;
  
}

